<section class="content-header d-flex">
  <div>
    <h1><%= t('custom_pages') %></h1>
  </div>
  <div class="ml-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ml-auto"><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
        <li class="breadcrumb-item active"><%= link_to t(:custom_pages), admin_pages_path %></li>
      </ol>
    </nav>
  </div>
</section>

<section class="content">
  <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

  <div class="card card-warning card-outline">
    <div class="card-header">
      <h3 class="card-title">&nbsp;</h3>
      <div class="card-tools">
        <div class="input-group input-group-sm text-right">
          <div class="input-group-btn">
            <%= link_to t(:new_page), new_admin_page_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <!-- Table -->
      <table class="table table-striped small">
        <thead>
          <tr>
            <th class="col-md-1"><%= sort_link(@search, :id) %></th>
            <th class="col-md-2"><%= sort_link(@search, :path) %></th>
            <th class="col-md-4"><%= sort_link(@search, :title) %></th>
            <th class="col-md-2"><%= sort_link(@search, :created_at) %></th>
            <th class="col-md-2"><%= sort_link(@search, :updated_at) %></th>
            <th class="col-md-1"><%= t(:operation) %></th>
          </tr>
        </thead>
        <tbody>
          <% @pages.each do |page| %>
            <tr>
              <td><%= link_to page.id, edit_admin_page_path(page.id) %> &nbsp;</td>
              <td><%= page.path %></td>
              <td><%= page.title %></td>
              <td><%= page.created_at %></td>
              <td><%= page.updated_at %></td>
              <td>
                <%= button_to t(:delete), admin_page_path(page.id), method: :delete, class: 'btn btn-primary btn-xs', form_class: 'form-inline', data: {:confirm => t(:confirm_to_delete_page)} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <%= will_paginate @pages, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>

</section>
