<section class="content-header">
<h1><%= t(:page) %><small></small></h1>
<ol class="breadcrumb">
  <li><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
  <li class="active"><%= link_to t(:custom_pages), admin_pages_path %></li>
</ol>
</section>

<section class="content">
<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<%= form_for @page, :html => { :class => "form-horizontal page" }, :url => "/admin/pages" do |f| %>

    <% if @page.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('error_save_page', errors: @page.errors.count) %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">

    <%= f.label t(:path), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :path, :class => 'form-control' %>
    </div>

    <%= f.label t(:title), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>

    <%= f.label t(:content), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :cols => 70, :rows => 20, :class => 'form-control' %>
    </div>
    <%= errors(@page, :page_id) %>
  </div>

  <br clear="all" />

  <%= f.submit t('add'), :class => 'btn btn-primary' %>

<% end %>

</section>
