<script type="text/javascript">
$(function(){
  $('.datetimepicker').datetimepicker({
    useCurrent: false,
    sideBySide: false,
    showTodayButton: true,
    showClear: true,
    showClose: true
  });
});
</script>

<%= form_for slide, :html => { :class => "form-horizontal slide" }, :url => admin_slide_path(slide.id)  do |f| %>
  <% if slide.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% slide.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field "_id", :value => slide[:id], :disabled => "disabled", :class => 'form-control' %>
    </div>
    <%= f.error_span(:user_id) %>
  </div>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= f.error_span(:user_id) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= f.error_span(:name) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= f.error_span(:description) %>
  </div>
  <div class="control-group">
    <%= f.label :downloadable, :class => 'control-label' %>
    <div class="controls checkbox">
      <label>
        <%= f.check_box :downloadable %><%= t('activerecord.attributes.slide.downloadable') %>
      </label>
    </div>
    <%= f.error_span(:downloadable) %>
  </div>
  <div class="control-group">
    <%= f.label t('activerecord.models.category'), :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :category_id, Category.all, :id, :name %>
    </div>
    <%= f.error_span(:category_id) %>
  </div>
  <div class="control-group" style="position: relative">
    <%= f.label :created_at, :class => 'control-label' %>
    <div class="input-group datetimepicker">
      <%= f.text_field :created_at, data: { :date_format => 'YYYY/MM/DD HH:mm' }, :class => 'form-control', placeholder: 'YYYY/MM/DD HH:mm' %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
    <%= f.error_span(:created_at) %>
  </div>
  <div class="control-group" style="position: relative">
    <%= f.label :updated_at, :class => 'control-label' %>
    <div class="input-group datetimepicker">
      <%= f.text_field :updated_at, data: { :date_format => 'YYYY/MM/DD HH:mm' }, :class => 'form-control', placeholder: 'YYYY/MM/DD HH:mm' %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
    <%= f.error_span(:updated_at) %>
  </div>
  <div class="control-group">
    <%= f.label :object_key, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :object_key, :class => 'form-control' %>
    </div>
    <%= f.error_span(:object_key) %>
  </div>
  <div class="control-group">
    <%= f.label :extension, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :extension, :class => 'form-control' %>
    </div>
    <%= f.error_span(:extension) %>
  </div>
  <div class="control-group">
    <%= f.label :convert_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :convert_status, :class => 'form-control' %>
    </div>
    <%= f.error_span(:convert_status) %>
  </div>
  <div class="control-group">
    <%= f.label :total_view, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_view, :class => 'form-control' %>
    </div>
    <%= f.error_span(:total_view) %>
  </div>
  <div class="control-group">
    <%= f.label :page_view, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :page_view, :class => 'form-control' %>
    </div>
    <%= f.error_span(:page_view) %>
  </div>
  <div class="control-group">
    <%= f.label :embedded_view, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :embedded_view, :class => 'form-control' %>
    </div>
    <%= f.error_span(:embedded_view) %>
  </div>
  <div class="control-group">
    <%= f.label :download_count, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :download_count, :class => 'form-control' %>
    </div>
    <%= f.error_span(:download_count) %>
  </div>
  <div class="control-group">
    <%= f.label :num_of_pages, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :num_of_pages, :class => 'form-control' %>
    </div>
    <%= f.error_span(:num_of_pages) %>
  </div>
  <div class="control-group">
    <%= f.label t('activerecord.models.tag'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_list, :value => slide.tag_list.join(','), :class => 'form-control' %>
    </div>
    <%= f.error_span(:tag_list) %>
  </div>
  <br clear="all" />

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t("helpers.links.cancel"), admin_slides_path, :class => 'btn btn-default' %>

<% end %>
