<section class="content-header">
<h1><%= t(:edit_slide) %><small></small></h1>
<ol class="breadcrumb">
  <li><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
  <li class="active"><%= link_to t('activerecord.models.slide'), admin_slides_path %></li>
</ol>
</section>

<section class="content">

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<%= render 'slide_edit_form', slide: @slide %>

</section>
