<section class="content-header d-flex">
  <div>
    <h1><%= t(:edit_slide) %></h1>
  </div>
  <div class="ml-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ml-auto"><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
        <li class="breadcrumb-item active"><%= link_to t('activerecord.models.slide'), admin_slides_path %></li>
      </ol>
    </nav>
  </div>
</section>

<section class="content">

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<%= render 'slide_edit_form', slide: @slide %>

</section>
