<h3><%= t("activerecord.models.slide") %>&nbsp;&nbsp;<small><%= link_to t(:back_to_dashboard), admin_dashboard_path %></small></h3>

<%= search_form_for @search, url: admin_slides_path, :html => { :class => "form-horizontal slide" } do |f| %>

<div class="row">
  <div class="col-md-3">
    <div class="control-group">
    <%= f.label :name_cont, t('activerecord.attributes.slide.name') %>
    <%= f.search_field :name_cont, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="control-group">
    <%= f.label :description_cont, t('activerecord.attributes.slide.description') %>
    <%= f.search_field :description_cont, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="control-group">
    <%= f.label :user_display_name_cont, t(:slide_author) %>
    <%= f.search_field :user_display_name_cont, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="control-group">
      <%= f.label :tag_search, t('activerecord.models.tag') %>
      <% v = (request.query_parameters.has_key?(:q) and request.query_parameters[:q].has_key?(:tag_search)) ? request.query_parameters[:q][:tag_search] : "" %>
      <%= f.text_field :tag_search, :value => v, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="control-group" style="position: relative">
      <%= f.label :created_at_gteq ,t('published_date_from') %>
      <div class="input-group datetimepicker">
        <%= f.text_field :created_at_gteq, data: { :date_format => 'YYYY/MM/DD HH:mm' }, :class => 'form-control', placeholder: 'YYYY/MM/DD HH:mm' %>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="control-group" style="position: relative">
      <%= f.label :created_at_lteq ,t('published_date_to') %>
      <div class="input-group datetimepicker">
        <%= f.text_field :created_at_lteq, data: { :date_format => 'YYYY/MM/DD HH:mm' }, :class => 'form-control', placeholder: 'YYYY/MM/DD HH:mm' %>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <%= f.label :downloadable, :class => 'control-label' %>
    <div class="controls checkbox">
      <label>
        <%= f.check_box :downloadable_true, {}, 1, nil %><%= t('activerecord.attributes.slide.downloadable') %>
      </label>
    </div>
  </div>

  <div class="col-md-12">
    <br clear="all" />
    <%= f.submit :class => 'btn btn-primary' %>&nbsp;&nbsp;
    <%= f.button t(:reset), :class => 'btn btn-default', :id => 'reset' %>
  </div>
</div>

<% end %>
<br clear="all" />

<%= render 'shared/reset' %>
<%= render 'shared/datetimepicker' %>

<div class="box box-info">
  <!-- Table -->
  <table class="table table-striped table-bordered small">
    <thead>
      <tr>
        <th><%= sort_link(@search, :id) %></th>
        <th class="col-md-2"><%= sort_link(@search, :name) %></th>
        <th><%= sort_link(@search, :user_id) %></th>
        <th><%= sort_link(@search, :created_at) %></th>
        <th><%= sort_link(@search, :updated_at) %></th>
        <th><%= sort_link(@search, :convert_status) %></th>
        <th><%= sort_link(@search, :total_view) %></th>
        <th><%= sort_link(@search, :page_view) %></th>
        <th><%= sort_link(@search, :embedded_view) %></th>
        <th><%= sort_link(@search, :download_count) %></th>
        <th><%= sort_link(@search, :comments_count) %></th>
        <th colspan="5"><%= t('command') %></th>
      </tr>
    </thead>
    <tbody>
      <% @slides.each do |slide| %>
        <tr>
          <td><%= link_to slide.id, slide_path(slide.id) %></td>
          <td><%= link_to slide.name, slide_path(slide.id) %>&nbsp;</td>
          <td><%= link_to slide.user_id, user_path(slide.user_id) %>&nbsp;</td>
          <td><%= slide.created_at.to_s(:middle) if slide.created_at %></td>
          <td><%= slide.updated_at.to_s(:middle) if slide.updated_at %></td>
          <td><%= slide.convert_status_i18n %></td>
          <td><%= slide.total_view %></td>
          <td><%= slide.page_view %></td>
          <td><%= slide.embedded_view %></td>
          <td><%= slide.download_count %></td>
          <td><%= slide.comments_count %></td>
          <td><a href="<%= slide.transcript_url %>" target="_blank"><i class="fa fa-file-text"></i></a></td>
          <td><a href="<%= slide.page_list_url %>" target="_blank"><i class="fa fa-jsfiddle"></i></a></td>
          <td><a href="<%= admin_slide_download_path(slide.id) %>"><i class="fa fa-cloud-download"></i></a></td>
          <td>
            <%= link_to admin_slide_reconvert_path(slide.id), :method => 'get', data: {:confirm => t(:confirm_to_send_reconvert_request)} do %>
            <i class="fa fa-adjust"></i>
            <% end %>
          </td>
          <td>
            <%= button_to t(:edit), edit_admin_slide_path(slide.id), method: 'get', class: 'btn btn-primary btn-xs', form_class: 'form-inline' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= will_paginate @slides, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>
