  <% if related_slides.count > 0 %>
    <!-- Default card contents -->
    <h3 class="h4"><%= t(:related_slides) %></h3>
    <div class="card">
      <ul class="list-group list-group-flush">
        <% related_slides.each do |s| %>
        <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <a href="<%= slide_path(s.id) %>"><%= image_tag s.thumbnail.url, :class => "img-fluid", :style => "border:1px solid #ccc" %></a>
          </div>
          <div class="col-md-6">
            <h3 style="font-size:0.9em"><span class="no_decoration"><a href="<%= slide_path(s.id) %>"><%= strip_tags s.name.truncate(24) %></a></span></h3>
            <p style="font-size:0.8em"><%= s.created_at.to_formatted_s(:middle) %> by <a href="<%= user_by_username_path(username: s.user.username) %>"><%= strip_tags s.user.display_name %></a></p>
          </div>
        </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="mb-4"></div>
  <% end %>
