<% page_list = slide.pages.list %>
<%
if page_list.instance_of?(Array)
  page_count = page_list.count
else
  page_count = 0
end
%>
<% if page_count > 0 %>
<% count = 0 %>
<% page_list.each do |f| %>
<% count +=1 %>
<% u = "#{CloudConfig::provider.resource_endpoint}/#{f}" %>
<div class="vertical_slide_box">
  <a name="img-<%= count-1 %>"></a>
  <% if count <= 2 %>
    <%= image_tag u, class: "lazy img-fluid" %>
  <% else %>
    <%= image_tag "spacer640x480.png", class: "lazy img-fluid", data: { original: u } %>
  <% end %>
</div>
<div class="icon_right">
<a href="#top"><i class="fa fa-arrow-up"></i></a>
</div>
<% end %>
<% elsif slide.convert_error? %>
    <%= image_tag "failed_to_convert.jpg", class: "lazy img-fluid" %>
<% else %>
    <%= image_tag "converting.jpg", class: "lazy img-fluid" %>
<% end %>

<script type="text/javascript">
$(function() {
    $(".slidehub_body img.lazy").lazyload({
        threshold : 200,
        effect: "fadeIn"
    });
});
</script>
