    <div class="row" style="max-width:1024px; margin:0 auto;">
    <% slides.each do |slide| %>
      <% if slide.convert_status < 0 then %>
        <% image_url = "/oss/images/failed_to_convert_small.jpg" %>
      <% elsif slide.convert_status < 100 then %>
        <% image_url = "/oss/images/converting_small.jpg" %>
      <% else %>
        <% image_url = slide.thumbnail_url %>
      <% end %>

      <div class="<%= column_class %>" style="padding:4px;">
        <div class="slidecard">
          <div class="slidecard-image">
          <a href="/slides/<%= slide.id %>"><img src="<%= image_url %>" class="img-responsive" style="width:100%" /></a>
          </div>
          <div class="slidecard-content">
            <div class="slidecard-basic-info">
            <div class="slidecard-title"><%= slide.name.truncate(40) %></div>
            <div class="slidecard-description"><%= slide.description.truncate(80) %></div>
            </div>
            <div class="slidecard-information">
              <div class="h5" style="margin-top:2px;margin-bottom:2px;">by <a href="/users/<%= slide.user_id %>"><%= slide.user.display_name %></a></div>
              <%= slide.created_at.to_s(:default) %> | <%= slide.total_view %> views
            </div>
          </div>
        </div>
      </div>

      <% end %>
    </div>

<script type="text/javascript">
$1102(window).load(function () {
    $1102('.slidecard').equalHeights();
});
</script>
