<% if slide.transcript.try(:exist?) %>
  <% page_count = 0 %>
  <div class="slide_description">
    <% slide.transcript.lines.each do |tran| %>
      <% tran = clear_invisible_string(tran) %>
      <% page_count += 1 %>
      <% if not tran.blank? %>
        <div class="item">
          <% if params[:vertical] != "1" %>
            <span class="number"><a href="#page_top" onclick="javascript:OSSJSPARTS<%= prefix %>.moveTo(<%= page_count - 1 %>);"><%= page_count %>.</a></span>
          <% else %>
            <span class="number"><a href="#img-<%= page_count - 1 %>"><%= page_count %>.</a></span>
          <% end %>
          <span class="content"><%= tran %></span>
        </div>
      <% end %>

    <% end %>
  </div>
<% else %>
  <div class="slide_description">
    <div style="font-size:0.9em;">No Transcript...</div>
  </div>
<% end %>
