<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<% page_list = @slide.page_list %>
<%
  if params.has_key?(:prefix) && !params[:prefix].empty?
    prefix = params[:prefix]
  else
    prefix = js_prefix
  end
%>
<%
  if page_list.instance_of?(Array)
    page_count = page_list.count
  else
    page_count = 0
  end
%>

<style>
.<%= prefix %>clearfix:after {
  content: "";
  clear: both;
  display: block;
}

div.<%= prefix %>right {
  display:inline;
  float: right;
  margin-right:10px;
}

#<%= prefix %>slide_area, #<%= prefix %>command_area {
  margin:0px;
  padding:0px;
  width:100%;
  box-sizing: border-box;
}

#<%= prefix %>slide_area img {
  width: 100%;
  border-top:1px solid #000 !important;
  border-left:1px solid #000 !important;
  border-right:1px solid #000 !important;
  border-bottom: 0px !important;
  margin:0px !important;
  box-sizing: border-box;
}

div#<%= prefix %>progress_area {
  height: 10px;
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
  background-color: #555;
}

div#<%= prefix %>thumb {
  width:20px;
  border:0px;
  background-color: green;
}

div#<%= prefix %>command_area {
  border:1px solid #000;
  background-color: #222;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}

div#<%= prefix %>command_inner {
  padding:8px;
}

div#<%= prefix %>command_inner span {
  font-size: 16px;
  color: #fff;
}

div#<%= prefix %>command_inner a {
  font-size: 16px;
  color: #ccc !important;
  text-decoration: none;
}

div#<%= prefix %>command_inner ul {
  width: 200px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none !important;
  list-style-image: none !important;
}

div#<%= prefix %>command_inner ul li {
  float: left !important;
  margin-right: 5px;
  border: 0px;
  list-style: none !important;
  padding-left: 0px !important;
}

div#<%= prefix %>command_inner ul li:before {
  display: none;
  content: '';
  margin-left:0px !important;
}

div#<%= prefix %>command_inner ul li a {
  color: #ccc;
}

@media screen and (max-width: 400px) {
  div#<%= prefix %>command_inner a.<%= prefix %>icon {
    display : none;
  }
}

div#<%= prefix %>page_positions{
  width: 70px !important;
  text-align: center;
  color: #ccc;
}

:-webkit-full-screen {
  position: fixed;
  width: 100%;
  height:100%;
  top: 0;
  background: none;
}

:-ms-fullscreen {
  position: fixed;
  width: 100%;
  height:100%;
  top: 0;
  background: none;
}

:fullscreen {
  position: fixed;
  width: 100%;
  height:100%;
  top: 0;
  background: none;
}

<%# /******* Image *******/ %>
:-webkit-full-screen #<%= prefix %>slide_area img {
  width: 100%;
  object-fit: contain;
}
:-moz-full-screen #<%= prefix %>slide_area img {
  width: 100%;
  object-fit: contain;
}
:-ms-fullscreen #<%= prefix %>slide_area img {
  width: 100%;
  object-fit: contain;
}
:fullscreen #<%= prefix %>slide_area img {
  width: 100%;
  object-fit: contain;
}

<%# /******* Progress Area ******/ %>
:-webkit-full-screen #<%= prefix %>progress_area {
  bottom: 40px;
  position: absolute;
  background-color: #555;
  width: 100%;
}
:-moz-full-screen #<%= prefix %>progress_area {
  bottom: 40px;
  position: absolute;
  background-color: #555;
  width: 100%;
}
:-ms-fullscreen #<%= prefix %>progress_area {
  bottom: 40px;
  position: absolute;
  background-color: #555;
  width: 100%;
}
:fullscreen #<%= prefix %>progress_area {
  bottom: 40px;
  position: absolute;
  background-color: #555;
  width: 100%;
}

<%# /******* Bottom Area ******/ %>
:-webkit-full-screen #<%= prefix %>command_area {
  bottom: 0px;
  position: absolute;
}
:-moz-full-screen #<%= prefix %>command_area {
  bottom: 0px;
  position: absolute;
}
:-ms-fullscreen #<%= prefix %>command_area {
  bottom: 0px;
  position: absolute;
}
:fullscreen #<%= prefix %>command_area {
  bottom: 0px;
  position: absolute;
}
</style>

<div>
  <ul style="display:none" id="<%= prefix %>slide_list">
  <% if page_count > 0 %>
    <% page_list.each do |f| %>
      <% u = "#{CloudConfig::SERVICE.resource_endpoint}/#{f}" %>
      <li><img class="lazy" src="<%= root_url %>oss/images/spacer.png" data-original="<%= u %>" /></li>
    <% end %>
  <% elsif @slide.convert_status < 0 %>
    <li><img class="lazy" data-original="<%= root_url %>oss/images/failed_to_convert.jpg" /></li>
  <% else %>
    <li><img class="lazy" data-original="<%= root_url %>oss/images/converting.jpg" /></li>
  <% end %>
  </ul>

  <div class="<%= prefix %>slidebox" id="<%= prefix %>slidebox" style="left:0px;margin:0px;padding:0px;">
    <div id="<%= prefix %>slide_area"></div>
    <div id="<%= prefix %>progress_area">
      <div id="<%= prefix %>thumb">&nbsp;</div>
    </div>
    <div id="<%= prefix %>command_area">
      <div id="<%= prefix %>command_inner">
        <a class="<%= prefix %>icon" style="float:left;margin-right:4px;" href="#" id="<%= prefix %>full_screen_icon"><i id="slide_control_fullscreen" class="fa fa-television"></i>&nbsp;</a>
        <a class="<%= prefix %>icon" style="float:left;margin-right:4px;" href="<%= "#{root_url}slides/#{@slide.id}" %>"><i id="slide_control_home_link" class="fa fa-link"></i>&nbsp;</a>
        <% if @slide.downloadable %>
          <a class="<%= prefix %>icon" style="float:left;margin-right:4px;" href="<%= "#{root_url}slides/#{@slide.id}/download" %>"><i id="slide_control_download_link" class="fa fa-download"></i>&nbsp;</a>
        <% end %>
        <ul style="list-style-image:none; list-style-type:none">
          <li><a href="javascript:OSSJSPARTS<%= prefix %>.move_to(0);">&nbsp;<i class="fa fa-fast-backward"></i>&nbsp;</a></li>
          <li><a href="javascript:OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.current_page_index-1);">&nbsp<i class="fa fa-step-backward"></i>&nbsp;</a></li>
          <li><div id="<%= prefix %>page_positions" style="padding-left:0px;"></div></li>
          <li><a href="javascript:OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.current_page_index+1);">&nbsp;<i class="fa fa-step-forward"></i>&nbsp;</a></li>
          <li><a href="javascript:OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.slides.length-1);">&nbsp;<i class="fa fa-fast-forward"></i>&nbsp;</a></li>
        </ul>
        <span class="<%= prefix %>clearfix"></span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function eid (id) {
    return document.getElementById(id);
  }
  var OSSJSPARTS<%= prefix %> = {};
  OSSJSPARTS<%= prefix %>.add_css_prefix = function(class_var) {
    return OSSJSPARTS<%= prefix %>.class_prefix.concat(class_var);
  };
  OSSJSPARTS<%= prefix %>.name = "SlideHub Javascript Player";
  OSSJSPARTS<%= prefix %>.current_page_index = <%= @start_position -1 %>;
  OSSJSPARTS<%= prefix %>.slides = [];
  OSSJSPARTS<%= prefix %>.class_prefix = "<%= prefix %>"
  OSSJSPARTS<%= prefix %>.aspect = 0.75;
  OSSJSPARTS<%= prefix %>.progressbar = eid(OSSJSPARTS<%= prefix %>.add_css_prefix('progress_area'));
  OSSJSPARTS<%= prefix %>.thumb = eid(OSSJSPARTS<%= prefix %>.add_css_prefix('thumb'));
  OSSJSPARTS<%= prefix %>.progressbar_rect = OSSJSPARTS<%= prefix %>.progressbar.getBoundingClientRect();
  OSSJSPARTS<%= prefix %>.full_screen_icon = eid(OSSJSPARTS<%= prefix %>.add_css_prefix('full_screen_icon'));

  <%# /** Initialization **/ %>
  OSSJSPARTS<%= prefix %>.load_slide = function() {
    var findUl = eid(OSSJSPARTS<%= prefix %>.add_css_prefix('slide_list'));
    findLi = findUl.children;
    for (var i = 0; i < findLi.length; i++){
      var img = findLi[i].getElementsByTagName('img')[0];
      OSSJSPARTS<%= prefix %>.slides.push(img.getAttribute('data-original'));
    }
    if (eid(OSSJSPARTS<%= prefix %>.add_css_prefix("slide_image")) == null) {
      var slide_area = eid(OSSJSPARTS<%= prefix %>.add_css_prefix('slide_area'));
      var element = document.createElement('img');
      element.id = OSSJSPARTS<%= prefix %>.add_css_prefix("slide_image");
      element.src = OSSJSPARTS<%= prefix %>.slides[0];
      element.style.cursor = 'pointer';
      element.onload = function(){
        OSSJSPARTS<%= prefix %>.aspect = element.height / element.width;
      };
      element.onclick = function(evt) {
        if(!evt){
          evt = window.event;
        }
        var click_pos = evt.clientX;
        var rect = element.getBoundingClientRect();
        if (click_pos < rect.left + (element.width / 2)) {
          OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.current_page_index -1);
        } else {
          OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.current_page_index +1);
        }
      };
      slide_area.appendChild(element);

      if (OSSJSPARTS<%= prefix %>.current_page_index >= findLi.length) {
        OSSJSPARTS<%= prefix %>.current_page_index = 0;
      }

      if (OSSJSPARTS<%= prefix %>.current_page_index != 0) {
          OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.current_page_index);
      }

      if (findLi.length > 1) {
        OSSJSPARTS<%= prefix %>.preload_image[1];
      }
    }
    OSSJSPARTS<%= prefix %>.show_progress();
    // Slider
    OSSJSPARTS<%= prefix %>.set_slider_position(OSSJSPARTS<%= prefix %>.current_page_index + 1);
  };

  <%# /************************************ %>
  <%#  * Event Source                       %>
  <%#  ************************************/ %>
  OSSJSPARTS<%= prefix %>.progressbar.onclick = function(evt) {
    if(!evt){
      evt = window.event;
    }
    var left = evt.clientX;

    if (OSSJSPARTS<%= prefix %>.is_fullscreen()) {
      var len = Math.round(OSSJSPARTS<%= prefix %>.slides.length * left / screen.width);
      OSSJSPARTS<%= prefix %>.thumb.style.width = left + 'px';
    } else {
      var len = Math.round(OSSJSPARTS<%= prefix %>.slides.length * (left - OSSJSPARTS<%= prefix %>.progressbar_rect.left) / (OSSJSPARTS<%= prefix %>.progressbar_rect.right - OSSJSPARTS<%= prefix %>.progressbar_rect.left));
      OSSJSPARTS<%= prefix %>.thumb.style.width = (left - OSSJSPARTS<%= prefix %>.progressbar_rect.left) + 'px';
    }
    OSSJSPARTS<%= prefix %>.move_to(len -1);
  };

  <%# /************************************ %>
  <%# * Display progressbar from page number %>
  <%# ************************************/ %>
  OSSJSPARTS<%= prefix %>.set_slider_position = function (val){
    var w = 0;
    if (OSSJSPARTS<%= prefix %>.is_fullscreen()) {
      w = Math.round(screen.width * val / OSSJSPARTS<%= prefix %>.slides.length);
    } else {
      w = (Math.round(OSSJSPARTS<%= prefix %>.progressbar_rect.right - OSSJSPARTS<%= prefix %>.progressbar_rect.left) * val / OSSJSPARTS<%= prefix %>.slides.length);
      if (w >= (OSSJSPARTS<%= prefix %>.progressbar_rect.right - OSSJSPARTS<%= prefix %>.progressbar_rect.left)) {
        w = OSSJSPARTS<%= prefix %>.progressbar_rect.right - OSSJSPARTS<%= prefix %>.progressbar_rect.left -1;
      }
    }
    OSSJSPARTS<%= prefix %>.thumb.style.width = w + 'px';
  };

  <%# /************************************ %>
  <%# * Show cureent page number and total page %>
  <%# ************************************/ %>
  OSSJSPARTS<%= prefix %>.show_progress = function() {
    var progress_area = eid(OSSJSPARTS<%= prefix %>.add_css_prefix('page_positions'));
    if (progress_area != undefined && progress_area != null) {
      progress_area.innerHTML = (OSSJSPARTS<%= prefix %>.current_page_index + 1) + " / " + OSSJSPARTS<%= prefix %>.slides.length;
    }
  };

  <%# /************************************ %>
  <%# * Move to specific pages              %>
  <%# ************************************/ %>
  OSSJSPARTS<%= prefix %>.move_to = function(index) {
    if (index > OSSJSPARTS<%= prefix %>.slides.length -1 || index < 0) {
      return;
    }
    OSSJSPARTS<%= prefix %>.current_page_index = index;
    var img = eid(OSSJSPARTS<%= prefix %>.add_css_prefix('slide_image'));
    img.setAttribute('src', OSSJSPARTS<%= prefix %>.slides[index]);
    if (index < OSSJSPARTS<%= prefix %>.slides.length -2) {
      OSSJSPARTS<%= prefix %>.preload_image(index+1);
    }
    OSSJSPARTS<%= prefix %>.show_progress();
    OSSJSPARTS<%= prefix %>.set_slider_position(index+1);
  };

  <%# /************************************ %>
  <%# * Preload Images for Slides %>
  <%# ************************************/ %>
  OSSJSPARTS<%= prefix %>.preload_image = function(index) {
    var hidden_image = eid(OSSJSPARTS<%= prefix %>.add_css_prefix('hidden_image'));
    if (hidden_image == undefined || hidden_image == null) {
      var element = document.createElement('img');
      element.id = OSSJSPARTS<%= prefix %>.add_css_prefix('hidden_image');
      element.src = OSSJSPARTS<%= prefix %>.slides[index];
      element.style.display = 'none';
      eid(OSSJSPARTS<%= prefix %>.add_css_prefix('slide_area')).parentNode.insertBefore(element, eid(OSSJSPARTS<%= prefix %>.add_css_prefix('slide_area')).nextSibling);
    } else {
      hidden_image.src = OSSJSPARTS<%= prefix %>.slides[index];
    }
  };

  <%# /************************************ %>
  <%# * Entering into FullScreen Mode       %>
  <%# ************************************/ %>
  OSSJSPARTS<%= prefix %>.full_screen_icon.onclick = function(){
    var elm = eid(OSSJSPARTS<%= prefix %>.add_css_prefix('slidebox'));
    command_area_height = 50;
    screen_w = screen.width;
    screen_h = screen.height - command_area_height;
    image_w = screen_h / OSSJSPARTS<%= prefix %>.aspect;
    image_h = screen_h;
    if (image_w > screen_w) {
      image_w = screen_w;
      image_h = screen_w * OSSJSPARTS<%= prefix %>.aspect;
    }
    width_percent = (image_w / screen_w * 100);
    height_percent = (image_h / screen_h * 100);
    margin_left = Math.round((screen_w - image_w) / 2);

    var css = "";
    css += ':-webkit-full-screen #<%= prefix %>slide_area {'
    css += 'width:' + width_percent + '% !important; height:' + height_percent + '% !important;';
    css += 'float: left;';
    css += 'margin-left:' + margin_left + 'px;';
    css += '}';

    css += ':-moz-full-screen #<%= prefix %>slide_area {'
    css += 'width:' + width_percent + '% !important; height:' + height_percent + '% !important;';
    css += 'float: left;';
    css += 'margin-left:' + margin_left + 'px;';
    css += '}';

    css += ':-ms-fullscreen #<%= prefix %>slide_area {'
    css += 'width:' + width_percent + '% !important; height:' + height_percent + '% !important;';
    css += 'float: left;';
    css += 'margin-left:' + margin_left + 'px;';
    css += '}';

    css += ':fullscreen #<%= prefix %>slide_area {'
    css += 'width:' + width_percent + '% !important; height:' + height_percent + '% !important;';
    css += 'float: left;';
    css += 'margin-left:' + margin_left + 'px;';
    css += '}';

    var style = document.createElement('style');
    style.appendChild(document.createTextNode(css));
    document.getElementsByTagName('head')[0].appendChild(style);
    OSSJSPARTS<%= prefix %>.requestFullScreen(elm);
  };

  <%# /************************************ %>
  <%# * Handling FullScreen Event           %>
  <%# ************************************/ %>
  OSSJSPARTS<%= prefix %>.handleFSevent = function() {
    OSSJSPARTS<%= prefix %>.set_slider_position(OSSJSPARTS<%= prefix %>.current_page_index + 1);
  };

  <%# /************************************ %>
  <%# * Entering into Full Screen           %>
  <%# ************************************/ %>
  OSSJSPARTS<%= prefix %>.requestFullScreen = function(target) {
    if (target.webkitRequestFullscreen) {
      target.webkitRequestFullscreen(); // Chrome15+, Safari5.1+, Opera15+
    } else if (target.mozRequestFullScreen) {
      target.mozRequestFullScreen();    // FF10+
    } else if (target.msRequestFullscreen) {
      target.msRequestFullscreen();     // IE11+
    } else if (target.requestFullscreen) {
      target.requestFullscreen();       //HTML5 Fullscreen API
    }
  };

  <%# /************************************ %>
  <%# * Current Screen Status               %>
  <%# ************************************/ %>
  OSSJSPARTS<%= prefix %>.is_fullscreen = function(){
    if ((document.webkitFullscreenElement && document.webkitFullscreenElement !== null)
     || (document.mozFullScreenElement && document.mozFullScreenElement !== null)
     || (document.msFullscreenElement && document.msFullscreenElement !== null)
     || (document.fullScreenElement && document.fullScreenElement !== null)) {
      return true;
    } else {
      return false;
    }
  };

  <%# /************************************ %>
  <%# * Set EventListener                   %>
  <%# ************************************/ %>
  document.addEventListener("webkitfullscreenchange", OSSJSPARTS<%= prefix %>.handleFSevent, false);
  document.addEventListener("mozfullscreenchange", OSSJSPARTS<%= prefix %>.handleFSevent, false);
  document.addEventListener("MSFullscreenChange", OSSJSPARTS<%= prefix %>.handleFSevent, false);
  document.addEventListener("fullscreenchange", OSSJSPARTS<%= prefix %>.handleFSevent, false);

  if (window.addEventListener) {
    window.addEventListener('load', OSSJSPARTS<%= prefix %>.load_slide, false);
  } else if (window.attachEvent) {
    window.attachEvent('onload', OSSJSPARTS<%= prefix %>.load_slide);
  } else {
    window.onload = OSSJSPARTS<%= prefix %>.load_slide;
  }
</script>
