<script src="<%= root_url %>assets/jquery.js"></script>
<script src="<%= root_url %>jquery.bxslider/jquery.bxslider.js"></script>
<script src="<%= root_url %>assets/jquery.lazyload.js"></script>
<script src="<%= root_url %>jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
$1113 = jQuery.noConflict(true);
</script>
<link rel="stylesheet" type="text/css" href="<%= root_url %>jquery-ui-1.11.4/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="<%= root_url %>jquery.bxslider/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="<%= root_url %>oss/css/openslideshare.css">
<link rel="stylesheet" type="text/css" href="<%= root_url %>oss/css/openslideshare_embedded.css">

<script src="<%= root_url %>assets/mousetrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
    .openslideshare_body { font-size: 0.8em;}
    .openslideshare_body ul { padding: 0px; margin: 0px !important}
</style>

<div class="openslideshare_body">
<div id="slide_div_box">
<% puts @slide %>
<%= render 'slides/slide_player', slide: @slide, start_position: @start_position %>
</div>
</div>
