<div class="mb-4"></div>
<% content_for :title, @slide.name %>
<% prefix = js_prefix %>
<%= render 'slides/meta_tags', slide: @slide %>

<div class="row">
  <!--left main area -->
  <div class="col-md-8 bottom_padding_20" id="slide_div_box2">
    <% if params[:vertical] != "1" %>
    <div style="padding-top:20px;">
    <%= render 'slides/slide_horizontal', slide: @slide, start_position: @start_position, prefix: prefix %>
    </div>
    <% else %>
    <div style="padding-top:20px;">
    <%= render 'slides/slide_vertical', slide: @slide, start_position: @start_position %>
    </div>
    <% end %>

    <div class="card" style="margin-top:20px">
      <!--name and description-->
      <div class="card-body">
        <h2 class="h4 card-title"><%= strip_tags @slide.name %></h2>
        <div class="h6 card-text"><%= simple_format(h(@slide.description)) %></div>
      </div>
      <!--/name and description-->

      <!--tab-->
      <div class="card-body">

        <ul class="nav nav-tabs nav-pills">
          <li class="nav-item">
            <a href="#tab1" class="nav-link active" data-toggle="tab"><%= t :transcripts %></a>
          </li>
          <li class="nav-item">
            <a href="#tab2" class="nav-link" data-toggle="tab"><%= t 'activerecord.models.comment' %></a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="tab1" class="tab-pane active">
            <!-- Transcript -->
            <%= render 'slides/transcript', slide: @slide, prefix: prefix %>
          </div>
          <div id="tab2" class="tab-pane">
            <!-- Comment -->
            <%= render 'slides/comment', comment: @comment, posted_comments: @posted_comments %>
          </div>
        </div>

      </div>
      <!--/tab-->
    </div>
  </div>
  <!--/left main area -->

  <!--right sidebar -->
  <div class="col-md-4" id="rightside">
    <%= raw ApplicationSetting['custom_content.right_top'] %>
    <%= render 'users/right_side_bar', user: @slide.user %>
    <div class="mb-4"></div>
    <%= render 'slides/command_and_detail', slide: @slide %>
    <div class="mb-4"></div>
    <%= render 'slides/related_slides', related_slides: @related_slides %>
  </div>
  <!--/right sidebar -->

</div>
<!--/row-->

<script type="text/javascript">
  $(document).ready(function(){
    $("#rightside").stick_in_parent();

    if (Cookies.get("SlideTab")) {
      $('a[data-toggle="tab"]').parent().removeClass('active');
      $('a[href="#' + Cookies.get("SlideTab") +'"]').click();
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var tabName = e.target.href;
      var items = tabName.split("#");
      Cookies.set("SlideTab",items[1], { expires: 365 });
    });
  });
</script>

<%= render 'slides/embedded_dialog', slide: @slide %>
