<% content_for :title, @slide.name %>
<%
  page_list = @slide.page_list
  if page_list.instance_of?(Array) && page_list.count > 0
    u = "#{CloudConfig::SERVICE.resource_endpoint}/#{page_list[0]}"
  else
    u = "#{root_url}oss/images/converting.jpg"
  end
%>

<% set_meta_tags description: strip_tags(@slide.description).truncate(100) %>
<% keywords =  [@slide.name]
if @slide.tags.count > 0
     @slide.tags.each do |t|
       keywords.push t.to_s
     end
   end
%>
<% set_meta_tags keywords: keywords %>
<% set_meta_tags author: "#{root_url}#{@slide.user.username}" %>
<% set_meta_tags og: {
  title:    @slide.name,
  type:     'article',
  url:      slide_url(@slide.id),
  image:    u
}
%>

<% prefix = js_prefix %>

<%- model_class = Slide -%>
<% slide_id = @slide.id %>
<div class="row">
  <div class="col-md-8 bottom_padding_20" id="slide_div_box2">

    <% if params[:vertical] != "1" %>
      <div style="padding-top:20px;">
      <script type="application/javascript" src="<%= "#{root_url}slides/#{@slide.id}/embedded/#{@start_position}?prefix=#{prefix}&inside=1" %>"></script>
      <script type="application/javascript">
        window.onkeydown = function(evt) {
          if (evt.keyCode == 74 || evt.keyCode == 39) {
            // j
            OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.current_page_index+1);
          }
          if (evt.keyCode == 75 || evt.keyCode == 37) {
            // k
            OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.current_page_index-1);
          }
        }
      </script>
      <script type="text/javascript">
        $(document).ready(function(){
          var timer = setInterval( updateDiv, 10 * 1000);
          function updateDiv() {
            var pages = <%= @slide.num_of_pages %>;
            if (pages > 0) {
              return;
            }
            $.ajax({
              type: 'GET',
              async: false,
              url: "/slides/<%= @slide.id %>/update_view",
              cache: false,
              dataType: 'json',
              success: function(json) {
                if (json.page_count + 0 > 0) {
                  location.reload();
                }
              },
              error: function(xhr, ajaxOptions, thrownError) {}
            });
          }
        });
      </script>
      </div>
    <% else %>
      <div style="padding-top:20px;">
      <%= render 'slides/slide_vertical', slide: @slide, start_position: @start_position %>
      </div>
    <% end %>

   <div id="slide_div_box" style="padding:20px;">
    <div class="slide_detail_row">
        <span class="h3"><%= strip_tags @slide.name %></span>
      <p><%= strip_tags @slide.description %></p>
    </div>

    <!--tab-->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab"><%= t :transcripts %></a></li>
      <li><a href="#tab2" data-toggle="tab"><%= t 'activerecord.models.comment' %></a></li>
    </ul>
    <!-- / tab-->
    <div id="myTabContent" class="tab-content">
      <!-- Transcript -->
      <div class="tab-pane fade in active" id="tab1">
      <% transcripts = @slide.transcript %>
      <% show_tran = @slide.transcript_exist?(transcripts) %>
      <% if show_tran %>
      <% page_count = 0 %>
        <div class="slide_description">
          <% transcripts.each do |tran| %>
          <% page_count += 1 %>
          <% if not tran.empty? %>
            <% if params[:vertical] != "1" %>
              <div class="h6"><a href="#page_top" onclick="javascript:OSSJSPARTS<%= prefix %>.move_to(<%= page_count -1 %>);"><%= page_count %>.</a> <%= tran %></div>
            <% else %>
              <div class="h6"><a href="#img-<%= page_count -1 %>"><%= page_count %>.</a> <%= tran %></div>
            <% end %>
          <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="slide_description"><div class="h6">No Transcript...</div></div>
      <% end %>
      </div>

      <!-- Comment -->
      <div class="tab-pane fade" id="tab2">
        <a name="comment"></a>
        <% if not @posted_comments.empty? %>
          <% @posted_comments.each do |c| %>
            <div class="media comment_post">
              <div class="pull-left avatar50">
                <%= image_tag(c.user.avatar.url(:thumb), class: 'img-responsive') %>
              </div>
              <div class="media-body">
                <div class="h6" style="margin-top:0px"><a href="/<%= c.user.username %>"><%= strip_tags c.user.display_name %></a></div>
                <div class="h6"><%= strip_tags c.comment %></div>
                <div class="h6"><%= c.created_at %>
                <% if (user_signed_in? and current_user.id == c.user_id) %>
                  &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to t(:delete), "/comments/#{c.id}", :method => :delete, data: { confirm: "Are you sure you want to delete?" } %>
                <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="media comment_post"><div class="h6">No comments...</div></div>
        <% end %>

        <% if user_signed_in? %>
          <br />
          <div class="comments form">
            <%= render :partial => 'comments/form', :locals => { :comment => @comment } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4" id="rightside">

  <%= render 'users/right_side_bar', user: @slide.user %>

  <div class="panel panel-default h6">
    <ul class="list-group">
      <li class="list-group-item"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;Published<span class="pull-right"><%= @slide.created_at %></span></li>
      <li class="list-group-item"><i class="fa fa-th"></i>&nbsp;&nbsp;Category<span class="pull-right"><a href="/slides/category/<%= @slide.category_id %>"><%= @slide.category_name %></a></span></li>
      <li class="list-group-item"><i class="fa fa-eye"></i>&nbsp;&nbsp;Total View<span class="pull-right"><%= @slide.total_view %></span></li>
      <li class="list-group-item"><i class="fa fa-desktop"></i>&nbsp;&nbsp;Embedded View<span class="pull-right"><%= @slide.embedded_view %></span></li>
      <% if @slide.downloadable %>
        <li class="list-group-item"><i class="fa fa-cart-arrow-down"></i>&nbsp;&nbsp;Downloads<span class="pull-right"><%= @slide.download_count %></span></li>
      <% end %>

      <% if params[:vertical] == "1" %>
        <li class="list-group-item"><i class="fa fa-play"></i>&nbsp;&nbsp;<%= link_to t(:show_slide_with_normal_mode), "/slides/#{@slide.id}" %></li>
      <% else %>
        <li class="list-group-item"><i class="fa fa-film"></i>&nbsp;&nbsp;<%= link_to t(:show_slide_vertically), "/slides/#{@slide.id}?vertical=1" %></li>
      <% end %>
      <% if @slide.downloadable %>
        <li class="list-group-item"><i class="fa fa-download"></i>&nbsp;&nbsp;<%= link_to t(:download_slide), "/slides/#{@slide.id}/download" %></li>
      <% end %>
      <li class="list-group-item"><i class="fa fa-code"></i>&nbsp;&nbsp;<%= link_to t(:show_embedded_code), "#", :id => "show_embedded", data: {"toggle":"modal", "target":"embedded_dialog"} %></li>
      <% if user_signed_in? and current_user.id == @slide.user_id %>
        <li class="list-group-item"><i class="fa fa-pencil"></i>&nbsp;&nbsp;<%= link_to t(:edit_slide), edit_slide_path(@slide.id) %></li>
        <li class="list-group-item"><i class="fa fa-trash"></i>&nbsp;&nbsp;<%= link_to t(:delete_slide), slide_path(@slide.id), :method => :delete, data: { confirm: "Are you sure you want to delete?"} %></li>
      <% end %>
      <% if @slide.tags.count > 0 %>
        <li class="list-group-item clearfix"><span class="pull-right"><% @slide.tags.each do |t| %>
            <a href="/slides/search?q%5Btag_search%5D=<%= t %>"><span class="label label-default"><%= t %></span></a>&nbsp;<% end %>
        </li>
      <% end %>
      <li class="list-group-item"><%= render 'slides/share_buttons' %></li>
    </ul>
  </div>

  <% if @other_slides.count > 0 %>
    <!-- Default panel contents -->
    <h3 class="h4"><%= t(:related_slides) %></h3>
    <div style="border:1px solid #ccc;padding-bottom:0px;">
    <ul class="thumbnail_with_text">
    <% @other_slides.each do |s| %>
    <li>
      <a href="<%= slide_path(s.id) %>"><img src="<%= s.thumbnail_url %>"></a>
      <h3 class="h5"><span class="no_decoration"><a href="<%= slide_path(s.id) %>"><%= strip_tags s.name.truncate(24) %></a></span></h3>
      <p class="h6"><%= s.created_at %> by <a href="/<%= s.user.username %>"><%= strip_tags s.user.display_name %></a></p>
    </li>
    <% end %>
    </ul>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#show_embedded").click(function(){
      $('.embedded_dialog').modal('show');
    });
  });
</script>

</div><!-- end of row -->

<script type="text/javascript">
  $(document).ready(function(){
    // fix sidebar position
    $("#rightside").stick_in_parent();
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    if (Cookies.get("SlideTab")) {
      $('a[data-toggle="tab"]').parent().removeClass('active');
      $('a[href=#' + Cookies.get("SlideTab") +']').click();
    }
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var tabName = e.target.href;
      var items = tabName.split("#");
      Cookies.set("SlideTab",items[1], { expires: 365 });
    });
  });
</script>

<div class="modal fade embedded_dialog" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">Embedded Code</div>
      <div class="modal-body">
        <%= "<script src=\"#{root_url}slides/#{@slide.id}/embedded\"></script>" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
