<%= form_for comment, :html => { :class => "form-horizontal user" } do |f| %>

  <% if comment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(comment.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <% #= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comment, :class => 'form-control' %>
      <%= f.error_span(:comment) %>
    </div>
  </div>
  <%= f.hidden_field :slide_id, :value => comment.slide_id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit nil, :class => 'btn btn-primary', :style => 'margin-top:10px;' %>
<% end %>
