<%= search_form_for search_q, url: search_index_path, :html => { :class => "form-horizontal slide" } do |f| %>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
    <%= f.label :name_cont, t('activerecord.attributes.slide.name') %>
    <%= f.search_field :name_cont, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
    <%= f.label :description_cont, t('activerecord.attributes.slide.description') %>
    <%= f.search_field :description_cont, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
    <%= f.label :user_display_name_cont, t(:slide_author) %>
    <%= f.search_field :user_display_name_cont, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group" style="position: relative">
      <%= f.label :created_at_gteq ,t('published_date_from') %>
      <div class="input-group datetimepicker" id="datetimepicker1">
      <% v = (request.query_parameters.has_key?(:q) and request.query_parameters[:q].has_key?(:created_at_gteq)) ? request.query_parameters[:q][:created_at_gteq] : "" %>
        <%= f.text_field :created_at_gteq, data: { :date_format => 'YYYY/MM/DD HH:mm' }, :class => 'form-control', placeholder: 'YYYY/MM/DD HH:mm', value: v %>
        <div class="input-group-append input-group-addon">
          <span class="input-group-text" id="date1"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group" style="position: relative">
      <%= f.label :created_at_lteq ,t('published_date_to') %>
      <% v = (request.query_parameters.has_key?(:q) and request.query_parameters[:q].has_key?(:created_at_lteq)) ? request.query_parameters[:q][:created_at_lteq] : "" %>
      <div class="input-group datetimepicker" id="datetimepicker2">
        <%= f.text_field :created_at_lteq, data: { :date_format => 'YYYY/MM/DD HH:mm' }, :class => 'form-control', placeholder: 'YYYY/MM/DD HH:mm', value: v %>
        <div class="input-group-append input-group-addon">
          <span class="input-group-text" id="date2"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :tag_search, t('activerecord.models.tag') %>
      <% v = (request.query_parameters.has_key?(:q) and request.query_parameters[:q].has_key?(:tag_search)) ? request.query_parameters[:q][:tag_search] : "" %>
      <%= f.text_field :tag_search, :value => v, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <br clear="all" />
    <%= f.submit :class => 'btn btn-primary' %>&nbsp;&nbsp;
    <%= f.button t(:reset), :class => 'btn btn-default', :id => 'reset' %>
  </div>
</div>
<br clear="all" />

<% end %>
<br clear="all" />

<%= render 'shared/reset' %>

<script type="text/javascript">
$(function(){
  var td1 = new tempusDominus.TempusDominus(
    document.getElementById('datetimepicker1'),
    {
      localization: {locale: 'ja'},
      display: {sideBySide: true, components: {useTwentyfourHour:true}},
    }
  ) ;
  td1.dates.formatInput = function(date) { {return moment(date).format('YYYY/MM/DD HH:mm') } }
  td1.dates.parseInput = function(value) {  {return moment(value, 'YYYY/MM/DD HH:mm').toDate(); }}

  var td2 = new tempusDominus.TempusDominus(
    document.getElementById('datetimepicker2'),
    {
      localization: {locale: 'ja'},
      display: {sideBySide: true, components: {useTwentyfourHour:true}},
    }
  ) ;
  td2.dates.formatInput = function(date) { {return moment(date).format('YYYY/MM/DD HH:mm') } }
  td2.dates.parseInput = function(value) {  {return moment(value, 'YYYY/MM/DD HH:mm').toDate(); }}
});
</script>