<section class="content-header d-flex">
  <div>
    <h1><%= t(:custom_files) %></h1>
  </div>
  <div class="ml-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ml-auto"><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
        <li class="breadcrumb-item active"><%= link_to t(:custom_files), admin_custom_files_path %></li>
      </ol>
    </nav>
  </div>
</section>

<section class="content">
  <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

  <div class="card card-warning card-outline">
    <div class="card-header">
      <h3 class="card-title">&nbsp;</h3>
      <div class="card-tools">
        <div class="input-group input-group-sm text-right">
          <div class="input-group-btn">
            <%= link_to t(:new_custom_file), new_admin_custom_file_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <!-- Table -->
      <table class="table table-striped small">
        <thead>
          <tr>
            <th class="col-md-2"><%= t(:path) %></th>
            <th class="col-md-6">URL</th>
            <th class="col-md-2"><%= t(:description) %></th>
            <th class="col-md-2"><%= t(:operation) %></th>
          </tr>
        </thead>
        <tbody>
          <% index = 0 %>
          <% @custom_files.each do |custom_file| %>
            <tr>
              <td><%= custom_file.path %></td>
              <td><span id="<%= "file-#{index}" %>"><%= "#{CloudConfig::provider.resource_endpoint}/#{CustomFile.custom_files_directory}/#{custom_file.path}" %></span></td>
              <td><%= custom_file.description %></td>
              <td class="text-center">
                <form class="form-horizontal">
                  <div class="form-inline">
                    <button type="button" class="btn btn-xs copy-to-clipboard" data-clipboard-target="<%= "#file-#{index}" %>"><%= t(:copy) %></button>&nbsp;&nbsp;
                    <%= button_to t(:delete), admin_custom_file_path(custom_file.id), method: :delete, class: 'btn btn-primary btn-xs', form_class: 'form-inline' %>
                  </div>
    </div>
              </td>
            </tr>
            <% index += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    var clipboard = new Clipboard('.copy-to-clipboard');
    clipboard.on('success', function(e) {
      e.clearSelection();
    });
  });
</script>
