<section class="content-header">
<h1><%= t(:custom_files) %><small></small></h1>
<ol class="breadcrumb">
  <li><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
  <li class="active"><%= link_to t(:custom_files), admin_custom_files_path %></li>
</ol>
</section>

<section class="content">
<%= bootstrap_flash %>

<%= form_for @custom_file, :multipart => true, :html => { :class => "form-horizontal slide" }, :url => "/admin/custom_files"  do |f| %>

  <div class="control-group">
    <%= f.file_field :file %>

    <%= f.label t(:description), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= f.error_span(:slide_id) %>
  </div>

  <br clear="all" />

  <%= f.submit t('add'), :class => 'btn btn-primary' %>

<% end %>
</section>
