<%= javascript_pack_tag 'player', 'data-turbo-track': 'reload' %>

<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>

<%= render 'css', prefix: prefix %>

<% default_image = asset_pack_url("media/images/loading.jpg") %>
<div>
  <ul style="display:none" id="<%= prefix %>slide_list">
    <%= raw slide_page_image_list_tag(slide) %>
  </ul>

  <div class="<%= prefix %>slidebox" id="<%= prefix %>slidebox" style="left:0px;margin:0px;padding:0px;">
    <div id="<%= prefix %>slide_area"><img src="<%= default_image %>" /></div>
    <div id="<%= prefix %>progress_area">
      <div id="<%= prefix %>thumb">&nbsp;</div>
    </div>
    <div id="<%= prefix %>command_area">
      <div id="<%= prefix %>command_inner">
        <a class="<%= prefix %>icon" style="float:left;margin-right:4px;" href="#" id="<%= prefix %>full_screen_icon"><i id="slide_control_fullscreen" class="fa fa-television"></i>&nbsp;</a>
        <a class="<%= prefix %>icon" style="float:left;margin-right:4px;" href="<%= slide_url(slide.id) %>"><i id="slide_control_home_link" class="fa fa-link"></i>&nbsp;</a>
        <% if slide.downloadable %>
          <a class="<%= prefix %>icon" style="float:left;margin-right:4px;" href="<%= slide_download_url(slide.id) %>"><i id="slide_control_download_link" class="fa fa-download"></i>&nbsp;</a>
        <% end %>
        <ul style="list-style-image:none; list-style-type:none">
          <li style="display:inline; margin:0 0px;"><a href="javascript:OSSJSPARTS<%= prefix %>.moveTo(0);">&nbsp;<i class="fa fa-fast-backward"></i>&nbsp;</a></li>
          <li style="display:inline; margin:0 0px;"><a href="javascript:OSSJSPARTS<%= prefix %>.moveTo(OSSJSPARTS<%= prefix %>.currentPageIndex-1);">&nbsp<i class="fa fa-step-backward"></i>&nbsp;</a></li>
          <li style="display:inline; margin:0 0px;"><div id="<%= prefix %>page_positions" style="padding-left:0px;"></div></li>
          <li style="display:inline; margin:0 0px;"><a href="javascript:OSSJSPARTS<%= prefix %>.moveTo(OSSJSPARTS<%= prefix %>.currentPageIndex+1);">&nbsp;<i class="fa fa-step-forward"></i>&nbsp;</a></li>
          <li style="display:inline; margin:0 0px;"><a href="javascript:OSSJSPARTS<%= prefix %>.moveTo(OSSJSPARTS<%= prefix %>.slides.length-1);">&nbsp;<i class="fa fa-fast-forward"></i>&nbsp;</a></li>
        </ul>
        <span class="<%= prefix %>clearfix"></span>
      </div>
    </div>
  </div>
</div>
