<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>
<% page_list = @slide.page_list %>
<%
  if params.has_key?(:prefix) && !params[:prefix].empty?
    prefix = params[:prefix]
  else
    prefix = js_prefix
  end
%>
<%
  if page_list.instance_of?(Array)
    page_count = page_list.count
  else
    page_count = 0
  end
%>

<%= render 'css', prefix: prefix %>

<% default_image = image_url("loading.jpg") %>
<div>
  <ul style="display:none" id="<%= prefix %>slide_list">
  <% if page_count > 0 %>
    <% idx = 0 %>
    <% page_list.each do |f| %>
      <% u = "#{CloudConfig::SERVICE.resource_endpoint}/#{f}" %>
      <% if idx == 0 %>
        <% default_image = u %>
      <% end %>
      <li><img class="lazy" src="<%= image_url("spacer.png") %>" data-original="<%= u %>" /></li>
      <% idx += 1 %>
    <% end %>
  <% elsif @slide.convert_status < 0 %>
    <% default_image = image_url("failed_to_convert.jpg") %>
    <li><img class="lazy" data-original="<%= default_image %>" /></li>
  <% else %>
    <% default_image = image_url("converting.jpg") %>
    <li><img class="lazy" data-original="<%= default_image %>" /></li>
  <% end %>
  </ul>

  <div class="<%= prefix %>slidebox" id="<%= prefix %>slidebox" style="left:0px;margin:0px;padding:0px;">
    <div id="<%= prefix %>slide_area"><img src="<%= default_image %>" /></div>
    <div id="<%= prefix %>progress_area">
      <div id="<%= prefix %>thumb">&nbsp;</div>
    </div>
    <div id="<%= prefix %>command_area">
      <div id="<%= prefix %>command_inner">
        <a class="<%= prefix %>icon" style="float:left;margin-right:4px;" href="#" id="<%= prefix %>full_screen_icon"><i id="slide_control_fullscreen" class="fa fa-television"></i>&nbsp;</a>
        <a class="<%= prefix %>icon" style="float:left;margin-right:4px;" href="<%= slide_url(@slide.id) %>"><i id="slide_control_home_link" class="fa fa-link"></i>&nbsp;</a>
        <% if @slide.downloadable %>
          <a class="<%= prefix %>icon" style="float:left;margin-right:4px;" href="<%= slide_download_url(@slide.id) %>"><i id="slide_control_download_link" class="fa fa-download"></i>&nbsp;</a>
        <% end %>
        <ul style="list-style-image:none; list-style-type:none">
          <li><a href="javascript:OSSJSPARTS<%= prefix %>.move_to(0);">&nbsp;<i class="fa fa-fast-backward"></i>&nbsp;</a></li>
          <li><a href="javascript:OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.current_page_index-1);">&nbsp<i class="fa fa-step-backward"></i>&nbsp;</a></li>
          <li><div id="<%= prefix %>page_positions" style="padding-left:0px;"></div></li>
          <li><a href="javascript:OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.current_page_index+1);">&nbsp;<i class="fa fa-step-forward"></i>&nbsp;</a></li>
          <li><a href="javascript:OSSJSPARTS<%= prefix %>.move_to(OSSJSPARTS<%= prefix %>.slides.length-1);">&nbsp;<i class="fa fa-fast-forward"></i>&nbsp;</a></li>
        </ul>
        <span class="<%= prefix %>clearfix"></span>
      </div>
    </div>
  </div>
</div>

<% s = render 'javascript', prefix: prefix, start_position: @start_position %>
<%= raw s.gsub('OSSJSPARTS', "OSSJSPARTS#{prefix}").gsub('PREFIX', prefix) %>
