<div class="mb-4"></div>
<% content_for :title, t(:my_statistics) %>

<h3><%= t(:my_statistics) %>
  <span class="float-right">
    <a href="<%= statistics_path %>.csv" class="btn btn-xs btn-default">CSV</a>
  </span>
</h3>

<div>
  <!-- Table -->
  <table class="table table-striped small">
    <thead>
      <tr>
        <th class="col-md-5"><%= sort_link(@search, :name) %></th>
        <th class="col-md-1"><%= sort_link(@search, :created_at) %></th>
        <th class="col-md-1"><%= sort_link(@search, :updated_at) %></th>
        <th class="col-md-1"><%= sort_link(@search, :convert_status) %></th>
        <th class="col-md-1"><%= sort_link(@search, :page_view) %></th>
        <th class="col-md-1"><%= sort_link(@search, :embedded_view) %></th>
        <th class="col-md-1"><%= sort_link(@search, :download_count) %></th>
        <th class="col-md-1"><%= t 'activerecord.attributes.slide.comments' %></th>
      </tr>
    </thead>
    <tbody>
      <% @slides.each do |slide| %>
      <tr>
        <td><%= link_to slide.name, slide_path(slide.id) %>&nbsp;</td>
        <td><%= slide.created_at.try(:to_formatted_s, :default) %></td>
        <td><%= slide.updated_at.try(:to_formatted_s, :default) %></td>
        <td><%= slide.convert_status_i18n %></td>
        <td><%= slide.page_view %></td>
        <td><%= slide.embedded_view %></td>
        <td><%= slide.download_count %></td>
        <td><%= slide.comments.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>