<% content_for :title, t(:edit_slide) %>

<%= render :partial => 'slides/azure/upload_js', :locals => { :command => 'edit', :rand_name => @slide.object_key } %>

<div class="row">
    <div class="col-md-8">
    <h3><%= t(:edit_slide) %></h3>

    <div class="panel panel-default">
    <div class="panel-body">

    <form id="upload-form" class="form-horizontal" method="post" enctype="multipart/form-data" action="javascript:void(0); return false;">

    <div class="form-group">
      <label class="control-label col-sm-2"><%= t(:file) %></label>
      <div class="col-sm-10">
        <input type="file" name="file" id="file" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2"></label>
      <div class="col-sm-10">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" id="re-upload" class="btn btn-primary" value="<%= t :re_upload_slide %>" />
      </div>
    </div>

</form>

<%= form_for @slide, :html => { :class => "form-horizontal slide" } do |f| %>

    <% if @slide.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('error_save_slide', errors: @slide.errors.count) %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @slide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
      <%= errors(@slide, :name) %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_area :description, :class => 'form-control' %>
      <%= errors(@slide, :description) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <%= f.check_box :downloadable %><%= t('activerecord.attributes.slide.downloadable') %>
        </label>
      </div>
      <%= errors(@slide, :downloadable) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label t('activerecord.models.category'), :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Select a category"}, {class: 'form-control'} %>
      <%= errors(@slide, :category_id) %>
    </div>
  </div>

  <%= f.hidden_field :id, :value => @slide.id %>
  <%= f.hidden_field :convert_status, :id => 'SlideConvertStatus' %>
  <%= f.hidden_field :object_key, :id => 'SlideKey', :value => @slide.object_key %>
  <div class="form-group">
    <%= f.label t('activerecord.models.tag'), :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :tag_list, :value => @slide.tag_list.join(','), :class => 'form-control' %>
      <%= errors(@slide, :tag_list) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <%= f.check_box :private %><%= t('activerecord.attributes.slide.private') %>
        </label>
      </div>
      <%= errors(@slide, :private) %>
    </div>
  </div>

  <%= f.submit nil, :id => 'save_button', :class => 'btn btn-primary' %>
  <%= link_to t("helpers.links.cancel"), slides_path, :class => 'btn btn-default' %>

<% end %>

    </div>
    </div>
    </div>

    <div class="col-md-4">
    <%= render 'users/right_side_bar', user: current_user %>
    </div>

</div>

