<% content_for :title, t("upload_slide") %>

<% require 'securerandom'
  require "digest/md5"
  rand_name = Digest::MD5.hexdigest(SecureRandom.hex + Time.now.strftime("%Y%m%d%H%M%S"))
%>

<%= render :partial => 'slides/azure/upload_js', :locals => { :command => 'add', :rand_name => rand_name } %>

<div class="row">
  <div class="col-md-8 bottom_padding_20">
    <h3><%= t('upload_slide') %></h3>
    <div class="panel panel-default">
    <div class="panel-body">
    <form id="upload-form" class="form-horizontal" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <label class="control-label col-sm-2"><%= t(:file) %></label>
      <div class="col-sm-10">
        <input type="file" name="file" id="file" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2"></label>
      <div class="col-sm-10">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>
      </div>
    </div>
</form>

<%= form_for @slide, :url => {:action => 'create'}, :html => { :class => "form-horizontal slide" } do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('error_save_slide', errors: @slide.errors.count) %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @slide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
      <%= f.error_span(:name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_area :description, :class => 'form-control' %>
      <%= f.error_span(:description) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <%= f.check_box :downloadable %><%= t('activerecord.attributes.slide.downloadable') %>
        </label>
      </div>
      <%= f.error_span(:downloadable) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label t('activerecord.models.category'), :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: t('select_a_category')}, {class: 'form-control'} %>
      <%= f.error_span(:category_id) %>
    </div>
  </div>
  <%= f.hidden_field :object_key, :id => 'SlideKey' %>
  <div class="form-group">
    <%= f.label t('activerecord.models.tag'), :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :tag_list, :class => 'form-control' %>
      <%= f.error_span(:tag_list) %>
    </div>
  </div>

  <br />
  <%= f.submit nil, :id => 'save_button', :disabled => 'disabled', :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            slides_path, :class => 'btn btn-default' %>

<% end %>

  </div>
  </div>
  </div>

  <div class="col-md-4">
    <%= render 'users/right_side_bar', user: current_user %>
  </div>

</div>
