<link rel="alternate" type="application/rss+xml" title="RSS 2.0 (<%= "#{strip_tags(@user.display_name)}'s Slides" %>)" href="/users/<%= @user.id %>.rss" />

<% content_for :title, t(:slides_by_user, user: @user.display_name) %>
<div class="row">
  <div class="col-md-9">
    <h3><%= t :slides_by_user, user: @user.display_name %></h3>
    <div class="btn-group btn-toggle" style="margin-bottom:10px;">
      <% if params['sort_by'] != 'popularity' %>
        <a class="btn btn-primary active" style="color:#fff;"><%= t :order_by_uploaded_date %></a>
        <a href="?sort_by=popularity" class="btn btn-default"><%= t :order_by_popularity %></a>
      <% else %>
        <a href="?sort_by=date" class="btn btn-default"><%= t :order_by_uploaded_date %></a>
        <a class="btn btn-primary active" style="color:#fff;"><%= t :order_by_popularity %></a>
      <% end %>
    </div>
    <%= render 'slides/thumbnail_template', column_class: 'col-md-4 col-sm-8', slides: @slides %>
    <div>
      <%= will_paginate @slides, :renderer => BootstrapPagination::Rails %>
    </div>

    <script type="text/javascript">
        $(window).load(function () {
            $('.col-md-4').equalHeights();
        });
    </script>
  </div>

  <div class="col-md-3">
    <%= render 'users/right_side_bar', user: @user %>
    <br clear="all" />

    <div class="panel panel-default">
      <div class="panel-heading"><%= t :popular_tags %></div>
      <div class="panel-body">
        <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
          <%= link_to tag.name, "/slides/search?q%5Btag_search%5D=#{tag.name}", :class => css_class %>
        <% end %>
      </div>
    </div>
  </div>
</div>
