<section class="content-header d-flex">
  <div>
    <h1><%= t(:logs) %></h1>
  </div>
  <div class="ml-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ml-auto"><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
       <li class="breadcrumb-item active"><%= link_to t(:logs), admin_logs_index_path %></li>
     </ol>
    </nav>
  </div>
</section>

<section class="content">
<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<div class="card card-danger card-outline">
  <div class="card-body p-0">
  <!-- Table -->
  <table class="table table-striped small">
    <thead>
      <tr>
        <th class="col-md-12"><%= t(:path) %></th>
      </tr>
    </thead>
    <tbody>
      <% @files.each do |f| %>
      <tr>
        <td><%= link_to f, "#{admin_logs_show_path}?path=#{f}" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</section>
