<section class="content-header">
<h1><%= @path %>&nbsp;<%= t(:last_lines) %><small><%= link_to(t(:download), admin_logs_download_path + "?path=#{@path}")%></small></h1>
<ol class="breadcrumb">
  <li><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
  <li class="active"><%= link_to t(:logs), admin_logs_index_path %></li>
</ol>
</section>

<section class="content">
<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<div class="box box-danger">
  <div class="panel-body">
    <% @result.each do |line| %>
    <%= raw line %><br />
    <% end %>
  </div>
</div>
</section>
