<% content_for :title, t('.sign_in') %>

<div class="row">
  <div class="col-md-12">
    <h3><%= t(:signin) %></h3>

    <%= render "devise/shared/signin_with_omniauth" %>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password %><%= render "devise/shared/forget_password" %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </label>
            </div>
          <% end %>
          <%= f.submit t(:signin), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/signup_link" %>

  </div>
</div>
<br />
