<section class="content-header d-flex">
  <div>
    <h1><%= t(:edit_category) %></h1>
  </div>
  <div class="ml-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="ml-auto breadcrumb-item"><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
        <li class="breadcrumb-item active"><%= link_to t('activerecord.models.category'), admin_categories_path %></li>
      </ol>
    </nav>
  </div>
</section>

<section class="content">

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<%= form_for @category, :html => { :class => "form-horizontal category" }, :url => admin_category_path(@category.id) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_expl" class="card card-danger">
      <div class="card-heading">
        <h3 class="card-title"><%= t('error_save_category', errors: @category.errors.count) %></h3>
      </div>
      <div class="card-body">
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field "_id", :value => @category[:id], :disabled => "disabled", :class => 'form-control' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name_en, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name_en, :class => 'form-control' %>
    </div>
    <%= errors(@category, :name_en) %>
  </div>

  <div class="control-group">
    <%= f.label :name_ja, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name_ja, :class => 'form-control' %>
    </div>
    <%= errors(@category, :name_ja) %>
  </div>

  <br clear="all" />

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t("helpers.links.cancel"), admin_categories_path, :class => 'btn btn-default' %>
  <%= link_to t(:delete_category), admin_category_path(@category[:id]), :method => 'delete', :class => 'btn btn-danger float-right', data: {:confirm => t(:confirm_to_delete_category)} %>

<% end %>

</section>
