<section class="content-header d-flex">
  <div>
    <h1><%= t('activerecord.models.category') %></h1>
  </div>
  <div class="ml-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ml-auto"><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
        <li class="breadcrumb-item active"><%= link_to t('activerecord.models.category'), admin_categories_path %></li>
      </ol>
    </nav>
  </div>
</section>

<!-- Main content -->
<section class="content">
<!-- Your Page Content Here -->
<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<div class="card card-warning card-outline">
  <div class="card-header">
    <h3 class="card-title">&nbsp;</h3>
    <div class="card-tools">
      <div class="input-group input-group-sm text-right">
        <div class="input-group-btn">
          <%= link_to t(:new_category), new_admin_category_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
  <!-- Table -->
  <table class="table table-striped small">
    <thead>
      <tr>
        <th class="col-md-1"><%= t(:id) %></th>
        <th class="col-md-4"><%= t(:category_name_en) %></th>
        <th class="col-md-4"><%= t(:category_name_ja) %></th>
        <th class="col-md-2"><%= t(:number_of_slides) %></th>
        <th class="col-md-2"><%= t('command') %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name_en %></td>
          <td><%= category.name_ja %></td>
          <td><%= category.slides.count %></td>
          <td>
            <%= button_to t(:edit), edit_admin_category_path(category.id), method: 'get', class: 'btn btn-primary btn-xs', form_class: 'form-inline' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</section>
