<h3><%= t(:featured_slides) %>&nbsp;&nbsp;<small><%= link_to t(:back_to_dashboard), admin_dashboard_path %></small></h3>

<small><%= link_to t(:set_featured_slide), new_admin_featured_slide_path %></small>

<div class="box box-info">
  <!-- Table -->
  <table class="table table-striped table-bordered small">
    <thead>
      <tr>
        <th class="col-md-1"><%= t('activerecord.attributes.slide.id') %></th>
        <th class="col-md-2"><%= t('activerecord.attributes.slide.name') %></th>
        <th class="col-md-1"><%= t('activerecord.attributes.slide.user_id') %></th>
        <th class="col-md-1"><%= t('activerecord.attributes.slide.created_at') %></th>
        <th class="col-md-1"><%= t('activerecord.attributes.slide.total_view') %></th>
        <th class="col-md-1"><%= t('activerecord.attributes.slide.comments_count') %></th>
        <th class="col-md-1"><%= t('command') %></th>
      </tr>
    </thead>
    <tbody>
      <% @featured_slides.each do |fs| %>
        <% next if fs.slide.nil? %>
        <tr>
          <td><%= link_to fs.slide.id, slide_path(fs.slide.id) %></td>
          <td><%= link_to fs.slide.name, slide_path(fs.slide.id) %>&nbsp;</td>
          <td><%= link_to fs.slide.user_username, user_by_username_path(username: fs.slide.user_username) %>&nbsp;</td>
          <td><%= fs.slide.created_at %></td>
          <td><%= fs.slide.total_view %></td>
          <td><%= fs.slide.comments_count %></td>
          <td><%= button_to t('delete'), admin_featured_slide_path(fs), :method => :delete, :class => 'btn btn-primary btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
