<section class="content-header d-flex">
  <div>
    <h1><%= t(:featured_slides) %></h1>
  </div>
  <div class="ml-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ml-auto"><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
        <li class="breadcrumb-item active"><%= link_to t(:featured_slides), admin_featured_slides_path %></li>
      </ol>
    </nav>
  </div>
</section>

<section class="content">

  <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

  <div class="card card-info card-outline">
    <div class="card-header">
      <h3 class="card-title">&nbsp;</h3>
      <div class="card-tools">
        <div class="input-group input-group-sm text-right">
          <div class="input-group-btn">
            <%= link_to t(:set_featured_slide), new_admin_featured_slide_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <!-- Table -->
      <table class="table table-striped small">
        <thead>
          <tr>
            <th class="col-md-1"><%= t('activerecord.attributes.slide.id') %></th>
            <th class="col-md-2"><%= t('activerecord.attributes.slide.name') %></th>
            <th class="col-md-1"><%= t('activerecord.attributes.slide.user_id') %></th>
            <th class="col-md-1"><%= t('activerecord.attributes.slide.created_at') %></th>
            <th class="col-md-1"><%= t('activerecord.attributes.slide.total_view') %></th>
            <th class="col-md-1"><%= t('activerecord.attributes.slide.comments_count') %></th>
            <th class="col-md-1"><%= t('command') %></th>
          </tr>
        </thead>
        <tbody>
          <% @featured_slides.each do |fs| %>
            <% next if fs.slide.nil? %>
            <tr>
              <td><%= link_to fs.slide.id, slide_path(fs.slide.id) %></td>
              <td><%= link_to fs.slide.name, slide_path(fs.slide.id) %>&nbsp;</td>
              <td><%= link_to fs.slide.user_username, user_by_username_path(username: fs.slide.user_username) %>&nbsp;</td>
              <td><%= fs.slide.created_at %></td>
              <td><%= fs.slide.total_view %></td>
              <td><%= fs.slide.comments_count %></td>
              <td><%= button_to t('delete'), admin_featured_slide_path(fs), :method => :delete, :class => 'btn btn-primary btn-xs' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
