<h3><%= t(:featured_slides) %>&nbsp;&nbsp;<small><%= link_to t(:back_to_dashboard), admin_dashboards_path %></small></h3>

<%= form_for @featured_slide, :html => { :class => "form-horizontal slide" }, :url => admin_featured_slides_path  do |f| %>

  <div class="control-group">
    <%= f.label :slide_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :slide_id, :class => 'form-control' %>
    </div>
    <%= f.error_span(:slide_id) %>
  </div>

  <br clear="all" />

  <%= f.submit t('add'), :class => 'btn btn-primary' %>

<% end %>
