<section class="content-header">
<h1><%= t(:featured_slides) %><small></small></h1>
<ol class="breadcrumb">
  <li><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
  <li class="active"><%= link_to t(:featured_slides), admin_featured_slides_path %></li>
</ol>
</section>

<section class="content">

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<%= form_for @featured_slide, :html => { :class => "form-horizontal slide" }, :url => admin_featured_slides_path  do |f| %>

  <div class="control-group">
    <%= f.label :slide_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :slide_id, :class => 'form-control' %>
    </div>
    <%= errors(@featured_slide, :slide_id) %>
  </div>

  <br clear="all" />

  <%= f.submit t('add'), :class => 'btn btn-primary' %>

<% end %>
</section>
