<section class="content-header">
<h1><%= t :admin_dashboard %></h1>
</section>

<section class="content">

<!-- Info boxes -->
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-success"><i class="fa fa-file"></i></span>
      <div class="info-box-content">
        <span class="info-box-text"><%= t(:number_of_slides) %></span>
        <span class="info-box-number"><%= @dashboard.slide_count %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-primary"><i class="fa fa-user"></i></span>
      <div class="info-box-content">
        <span class="info-box-text"><%= t(:number_of_users) %></span>
        <span class="info-box-number"><%= @dashboard.user_count %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-dark"><i class="fa fa-eye"></i></span>
      <div class="info-box-content">
        <span class="info-box-text"><%= t(:number_of_page_view) %></span>
        <span class="info-box-number"><%= @dashboard.page_view %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="fa fa-eye"></i></span>
      <div class="info-box-content">
        <span class="info-box-text"><%=t 'activerecord.attributes.slide.embedded_view' %></span>
        <span class="info-box-number"><%= @dashboard.embedded_view %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="fa fa-exclamation-circle"></i></span>
      <div class="info-box-content">
        <span class="info-box-text"><%= t(:number_of_conversion_failed) %></span>
        <span class="info-box-number"><%= @dashboard.conversion_failed_count %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-warning"><i class="fa fa-download"></i></span>
      <div class="info-box-content">
        <span class="info-box-text"><%= t(:number_of_downloads) %></span>
        <span class="info-box-number"><%= @dashboard.download_count %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-info"><i class="fa fa-comments"></i></span>
      <div class="info-box-content">
        <span class="info-box-text"><%= t(:number_of_comments) %></span>
        <span class="info-box-number"><%= @dashboard.comment_count %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->


</div><!-- /.row -->

<!-- TABLE: LATEST ORDERS -->
<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-24">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title"><%= t(:latest_published_slides) %></h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div><!-- /.box-header -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= t('activerecord.attributes.slide.name') %></th>
                <th><%= t(:slide_author) %></th>
                <th><%= t('activerecord.attributes.slide.created_at') %></th>
              </tr>
            </thead>
            <tbody>
              <% @dashboard.latest_slides.each do |slide| %>
                <tr>
                  <td><%= link_to slide.id, slide_path(slide.id) %></td>
                  <td><%= slide.name %></td>
                  <td><%= link_to slide.user_display_name, user_by_username_path(username: slide.user_username) %></td>
                  <td><%= slide.created_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="card-footer clearfix">
        <%= link_to t(:view_all_slides), admin_slides_path, class: "btn btn-sm btn-default btn-flat float-right" %>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->
  <div class="col-md-6 col-sm-12 col-xs-24">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title"><%= t(:popular_slides) %></h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div><!-- /.box-header -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= t('activerecord.attributes.slide.name') %></th>
                <th><%= t(:slide_author) %></th>
                <th><%= t('activerecord.attributes.slide.created_at') %></th>
              </tr>
            </thead>
            <tbody>
              <% @dashboard.popular_slides.each do |slide| %>
                <tr>
                  <td><%= link_to slide.id, slide_path(slide.id) %></td>
                  <td><%= slide.name %></td>
                  <td><%= link_to slide.user_display_name, user_by_username_path(username: slide.user_username) %></td>
                  <td><%= slide.created_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="card-footer clearfix">
        <%= link_to t(:view_all_slides), admin_slides_path, class: "btn btn-sm btn-default btn-flat float-right" %>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div>
</section>
