<section class="content-header d-flex">
  <div>
    <h1><%= t('activerecord.models.user') %></h1>
  </div>
  <div class="ml-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item ml-auto"><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> <%= t(:admin_dashboard) %></a></li>
        <li class="breadcrumb-item active"><%= link_to t('activerecord.models.user'), admin_users_path %></li>
      </ol>
    </nav>
  </div>
</section>

<section class="content">
<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<%= search_form_for @search, url: admin_users_path, :html => { :class => "form-horizontal slide" } do |f| %>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
    <%= f.label :email_cont, t('activerecord.attributes.user.email') %>
    <%= f.search_field :email_cont, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
    <%= f.label :username_cont, t('activerecord.attributes.user.username') %>
    <%= f.search_field :username_cont, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
    <%= f.label :display_name_cont, t('activerecord.attributes.user.display_name') %>
    <%= f.search_field :display_name_cont, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
    <%= f.label :provider_cont, t('activerecord.attributes.user.provider') %>
    <%= f.search_field :provider_cont, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" style="position: relative">
      <%= f.label :created_at_gteq ,t('registered_date_from') %>
      <div class="input-group datetimepicker" id="datetimepicker1">
        <% v = (request.query_parameters.has_key?(:q) and request.query_parameters[:q].has_key?(:created_at_gteq)) ? request.query_parameters[:q][:created_at_gteq] : "" %>
        <%= f.text_field :created_at_gteq, data: { :date_format => 'YYYY/MM/DD HH:mm' }, :class => 'form-control', placeholder: 'YYYY/MM/DD HH:mm', value: v %>
        <div class="input-group-append input-group-addon">
          <span class="input-group-text" id="date1"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group" style="position: relative">
      <%= f.label :created_at_lteq ,t('registered_date_to') %>
      <div class="input-group datetimepicker" id="datetimepicker2">
        <% v = (request.query_parameters.has_key?(:q) and request.query_parameters[:q].has_key?(:created_at_lteq)) ? request.query_parameters[:q][:created_at_lteq] : "" %>
        <%= f.text_field :created_at_lteq, data: { :date_format => 'YYYY/MM/DD HH:mm' }, :class => 'form-control', placeholder: 'YYYY/MM/DD HH:mm', value: v %>
        <div class="input-group-append input-group-addon">
          <span class="input-group-text" id="date2"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <%= f.label :admin, :class => 'control-label' %>
    <div class="controls checkbox">
      <label>
        <%= f.check_box :admin_true, {}, 1, nil %>&nbsp;<%= t('activerecord.attributes.user.admin') %>
      </label>
    </div>
  </div>

  <div class="col-md-12">
    <br clear="all" />
    <%= f.submit :class => 'btn btn-primary' %>&nbsp;&nbsp;
    <%= f.button t(:reset), :class => 'btn btn-default', :id => 'reset' %>
  </div>
</div>

<% end %>
<br clear="all" />

<%= render 'shared/reset' %>
<%= render 'shared/datetimepicker' %>

<div class="box box-info">
  <!-- Table -->
  <table class="table table-striped table-bordered small">
    <thead>
      <tr>
        <th><%= sort_link(@search, :id) %></th>
        <th><%= sort_link(@search, :email) %></th>
        <th><%= sort_link(@search, :username) %></th>
        <th><%= sort_link(@search, :display_name) %></th>
        <th><%= sort_link(@search, :provider) %></th>
        <th><%= sort_link(@search, :admin) %></th>
        <th><%= sort_link(@search, :slides_count) %></th>
        <th><%= sort_link(@search, :sign_in_count) %></th>
        <th><%= sort_link(@search, :last_sign_in_at) %></th>
        <th><%= sort_link(@search, :created_at) %></th>
        <th><%= sort_link(@search, :updated_at) %></th>
        <th><%= t('command') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.id, user_path(user.id) %> &nbsp;</td>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td><%= user.display_name %></td>
          <td><%= user.provider %></td>
          <td><%= user.admin %></td>
          <td><%= user.slides_count %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.last_sign_in_at.to_s(:middle) if user.last_sign_in_at %></td>
          <td><%= user.created_at.to_s(:middle) if user.created_at %></td>
          <td><%= user.updated_at.to_s(:middle) if user.updated_at %></td>
          <td>
            <%= button_to t(:edit), edit_admin_user_path(user.id), method: 'get', class: 'btn btn-primary btn-xs', form_class: 'form-inline' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= will_paginate @users, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
</section>

<script type="text/javascript">
$(function(){
  var td1 = new tempusDominus.TempusDominus(
    document.getElementById('datetimepicker1'),
    {
      localization: {locale: 'ja'},
      display: {sideBySide: true, components: {useTwentyfourHour:true}},
    }
  ) ;
  td1.dates.formatInput = function(date) { {return moment(date).format('YYYY/MM/DD HH:mm') } }
  td1.dates.parseInput = function(value) {  {return moment(value, 'YYYY/MM/DD HH:mm').toDate(); }}

  var td2 = new tempusDominus.TempusDominus(
    document.getElementById('datetimepicker2'),
    {
      localization: {locale: 'ja'},
      display: {sideBySide: true, components: {useTwentyfourHour:true}},
    }
  ) ;
  td2.dates.formatInput = function(date) { {return moment(date).format('YYYY/MM/DD HH:mm') } }
  td2.dates.parseInput = function(value) {  {return moment(value, 'YYYY/MM/DD HH:mm').toDate(); }}
});
</script>
