<h3><%= t(:user_list) %>&nbsp;&nbsp;<small><%= link_to t(:back_to_dashboard), admin_dashboard_path %></small></h3>

<div class="panel panel-default">
  <!-- Table -->
  <table class="table table-striped table-bordered small">
    <thead>
      <tr>
        <th><%= sort_link(@search, :id) %></th>
        <th><%= sort_link(@search, :email) %></th>
        <th><%= sort_link(@search, :username) %></th>
        <th><%= sort_link(@search, :display_name) %></th>
        <th><%= sort_link(@search, :provider) %></th>
        <th><%= sort_link(@search, :admin) %></th>
        <th><%= sort_link(@search, :slides_count) %></th>
        <th><%= sort_link(@search, :sign_in_count) %></th>
        <th><%= sort_link(@search, :last_sign_in_at) %></th>
        <th><%= sort_link(@search, :created_at) %></th>
        <th><%= sort_link(@search, :updated_at) %></th>
        <th><%= t('command') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.id, user_path(user.id) %> &nbsp;</td>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td><%= user.display_name %></td>
          <td><%= user.provider %></td>
          <td><%= user.admin %></td>
          <td><%= user.slides_count %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.last_sign_in_at.to_s(:middle) if user.last_sign_in_at %></td>
          <td><%= user.created_at.to_s(:middle) if user.created_at %></td>
          <td><%= user.updated_at.to_s(:middle) if user.updated_at %></td>
          <td>
            <%= button_to t(:edit), edit_admin_user_path(user.id), method: 'get', class: 'btn btn-primary btn-xs', form_class: 'form-inline' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= will_paginate @users, :renderer => BootstrapPagination::Rails %>
</div>
