<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <%= csrf_meta_tags %>
    <% set_meta_tags title: content_for?(:title) ? yield(:title) : "", site: CustomSetting['site.name'], reverse: true %>
    <%= display_meta_tags %>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag "/mc/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/mc/css/AdminLTE.min.css" %>
    <%= stylesheet_link_tag "/mc/css/skins/skin-blue.min.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>
    <%= stylesheet_link_tag "/mc/css/admin_custom.css" %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" %>
      <%= javascript_include_tag "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
    <![endif]-->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.1.4 -->
    <%= javascript_include_tag "/mc/js/jQuery-2.1.4.min.js" %>
    <%= javascript_include_tag "/mc/js/rails.js" %>
    <!-- Bootstrap 3.3.5 -->
    <%= javascript_include_tag "/mc/js/bootstrap.min.js" %>
    <!-- AdminLTE App -->
    <%= javascript_include_tag "/mc/js/app.min.js" %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="<%= admin_dashboards_path %>" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>M</b>C</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b><%= raw CustomSetting['site.name'] %></b>MC</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs"><%= current_user.display_name %></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-6 text-center">
                      <%= link_to t(:my_statistics), statistics_index_path %>
                    </div>
                    <div class="col-xs-6 text-center">
                      <%= link_to t(:my_slides), user_by_username_path(username: current_user.username) %>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <%= link_to t(:my_account), edit_user_registration_path, :class => "btn btn-default btn-flat" %>
                    </div>
                    <div class="pull-right">
                      <%= link_to t(:logout), destroy_user_session_path, method: :delete, :class => "btn btn-default btn-flat" %>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- search form (Optional) -->
          <form action="<%= admin_slides_path %>" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q[name_cont]" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Admin Menu</li>
            <li><a href="<%= admin_dashboards_path %>"><i class="fa fa-link"></i> <span><%= t :admin_dashboard %></span></a></li>
            <li><a href="<%= admin_slides_path %>"><i class="fa fa-link"></i> <span><%= t(:slide_list) %></span></a></li>
            <li><a href="<%= admin_featured_slides_path %>"><i class="fa fa-link"></i> <span><%= t(:featured_slides) %></span></a></li>
            <li><a href="<%= admin_users_path %>"><i class="fa fa-link"></i> <span><%= t(:user_list) %></span></a></li>
            <li><a href="<%= admin_site_settings_path %>"><i class="fa fa-link"></i> <span><%= t(:site_settings) %></span></a></li>
            <li><a href="<%= admin_custom_contents_path %>"><i class="fa fa-link"></i> <span><%= t(:custom_contents_settings) %></span></a></li>
            <li><a href="<%= admin_logs_index_path %>"><i class="fa fa-link"></i> <span><%= t(:logs) %></span></a></li>
            <li><a href="<%= admin_custom_files_index_path %>"><i class="fa fa-link"></i> <span><%= t(:custom_files) %></span></a></li>
            <li class="header">Public Site</li>
            <li><a href="<%= slides_path %>"><i class="fa fa-link"></i> <span><%= t(:slide_list) %></span></a></li>
            <li><a href="<%= popular_path %>"><i class="fa fa-link"></i> <span><%= t(:popular_slides) %></span></a></li>
            <li><a href="<%= latest_path %>"><i class="fa fa-link"></i> <span><%= t(:latest_slides) %></span></a></li>
            <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span><%= t('activerecord.models.category') %></span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <% @categories.each do |cat| %>
                  <li><%= link_to cat.name, category_path(cat.id) %></li>
                <% end %>
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
          <!-- Your Page Content Here -->
          <%= bootstrap_flash %>
          <!-- start contents -->
          <%= yield %>
          <!-- end contents -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          <%= link_to "See #{t(:project_page)}.", "https://github.com/ryuzee/SlideHub/", target: "_blank" %>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 Ryuzee. </strong> MIT License.
      </footer>
    </div><!-- ./wrapper -->


  </body>
</html>
