<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% set_meta_tags title: content_for?(:title) ? yield(:title) : "", site: CustomSetting['site.name'], reverse: true %>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" %>
    <![endif]-->
    <% CustomSetting['site.theme'] = 'default' unless %w[default white dark].include?(CustomSetting['site.theme']) %>
    <%= stylesheet_link_tag "/themes/#{CustomSetting['site.theme']}/bootstrap.css" %>
    <%= stylesheet_link_tag "/themes/#{CustomSetting['site.theme']}/custom.css" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "/custom/override.css" %>

  <% if CustomSetting['site.favicon'].blank? %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <% else %>
    <%= favicon_link_tag CustomSetting['site.favicon'], :rel => 'shortcut icon' %>
  <% end %>

    <%= javascript_include_tag "application" %>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0 (<%= t(:latest_slides) %>)" href="<%= latest_path(format: "rss") %>" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0 (<%= t(:popular_slides) %>)" href="<%= popular_path(format: "rss") %>" />
  </head>
  <body class="slidehub_body">

    <%
      inverse = CustomSetting['site.header_inverse']
      inverse = 0 if inverse.nil?
    %>
    <div class="navbar <% if inverse == '1' %>navbar-inverse<% else %>navbar-default<% end %> navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= slides_path %>"><i class="fa fa-home"></i>&nbsp;<%= CustomSetting['site.name'] %></a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if controller.controller_name == 'popular_slides' %>"><%= link_to t("popular"), popular_path  %></li>
            <li class="<%= 'active' if controller.controller_name == 'latest_slides' %>"><%= link_to t("latest"), latest_path  %></li>
            <li class="dropdown<%= ' active' if controller.controller_name == 'categories' %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t 'category' %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% cache 'categories', expires_in: 10.minutes, skip_digest: true do %>
                <% @categories.each do |cat| %>
                <li><%= link_to cat.name, category_path(cat.id) %></li>
                <% end %>
                <% end %>
              </ul>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'search' %>"><%= link_to t("search"), search_path  %></li>
            <%= raw custom_links %>
          </ul>
          <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="avatar20" aria-hidden="true"><%= image_tag(current_user.avatar.url(:thumb)) %></span>&nbsp;<%= current_user.email %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="<%= new_slide_path %>"><i class="fa fa-pencil"></i>&nbsp;<%= t 'upload' %>!!</a></li>
              <li><a href="<%= users_path %>"><i class="fa fa-list-alt"></i>&nbsp;<%= t :my_slides %></a></li>
              <li><a href="<%= statistics_path %>"><i class="fa fa-signal"></i>&nbsp;<%= t :my_statistics %></a></li>
              <li><a href="<%= edit_user_registration_path %>"><i class="fa fa-user"></i>&nbsp;<%= t :my_account %></a></li>
              <!-- admin -->
              <li class="divider"></li>
              <li><a href="<%= admin_dashboard_path %>"><i class="fa fa-wrench"></i></span>&nbsp;<%= t :admin_dashboard %></a></li>
              <!-- // admin -->
              <li class="divider"></li>
              <li><%= link_to t(:logout), destroy_user_session_path, method: :delete %></li>

            </ul>
            </li>
          </ul>
          <% else %>
          <% if CustomSetting['site.display_login_link'] == "1" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t("signup"), new_user_registration_path %></li>
            <li><%= link_to t("signin"), new_user_session_path %></li>
          </ul>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <a name="page_top"></a>
    <div class="container" id="main_container" role="main">
      <%= raw CustomSetting['custom_content.center_top'] %>
      <%= bootstrap_flash %>

      <%= yield %>
      <%= raw CustomSetting['custom_content.center_bottom'] %>
      <br clear="all" />
    </div> <!-- /container -->

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="text-muted text-left"><%= raw CustomSetting['site.footer'] %></p>
          </div>
          <div class="col-md-6">
            <p class="text-muted text-right">Powered by <%= link_to "SlideHub", "https://github.com/ryuzee/SlideHub", target: "_blank" %> <%= SlideHub::VERSION %></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
