<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% set_meta_tags title: content_for?(:title) ? yield(:title) : "", site: ApplicationSetting['site.name'], reverse: true %>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" %>
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/all.min.css" %>
    <% ApplicationSetting['site.theme'] = 'default' unless %w[default white dark gray].include?(ApplicationSetting['site.theme']) %>
    <%= stylesheet_link_tag "/themes/#{ApplicationSetting['site.theme']}/bootstrap.css" %>
    <%= stylesheet_link_tag "/themes/#{ApplicationSetting['site.theme']}/custom.css" %>
    <%= stylesheet_link_tag "/custom/override.css" %>

  <% if ApplicationSetting['site.favicon'].blank? %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <% else %>
    <%= favicon_link_tag ApplicationSetting['site.favicon'], :rel => 'shortcut icon' %>
  <% end %>

    <%= javascript_include_tag "application" %>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0 (<%= t(:latest_slides) %>)" href="<%= latest_index_path(format: "rss") %>" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0 (<%= t(:popular_slides) %>)" href="<%= popular_index_path(format: "rss") %>" />
  </head>
  <body class="slidehub_body" oncontextmenu="return false;">

    <%
      inverse = ApplicationSetting['site.header_inverse']
      inverse = 0 if inverse.nil?
      inverse = 1 if ApplicationSetting['site.theme'] == 'dark'
    %>
    <nav class="navbar navbar-expand-lg  <% if inverse == '0' %>navbar-light bg-light<% else %>navbar-dark bg-primary<% end %> sticky-top">
      <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="<%= slides_path %>"><i class="fa fa-home"></i>&nbsp;<%= ApplicationSetting['site.name'] %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= 'active' if controller.controller_name == 'popular' %>"><%= link_to t("popular"), popular_index_path, class: 'nav-link'  %></li>
            <li class="nav-item <%= 'active' if controller.controller_name == 'latest' %>"><%= link_to t("latest"), latest_index_path, class: 'nav-link'  %></li>
            <li class="nav-item dropdown<%= ' active' if controller.controller_name == 'categories' %>">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"><%= t 'category' %></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% @categories.each do |cat| %>
                <%= link_to cat.name, category_path(cat.id), class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>
            <li class="nav-item <%= 'active' if controller.controller_name == 'search' %>"><%= link_to t("search"), search_index_path, class: 'nav-link'  %></li>
            <%= raw custom_links(controller) %>
          </ul>
          <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
              <span class="avatar20" aria-hidden="true">
                <% if current_user.avatar.attached? %>
                <%= image_tag(current_user.avatar.variant(resize: "32x32")) %>
                <% else %>
                <%= image_tag('avatar/thumb/missing.png') %>
                <% end %>
              </span>&nbsp;<%= current_user.email %><span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if (ApplicationSetting['site.only_admin_can_upload']).to_i == 0 || current_user.admin == true %>
              <a class="dropdown-item" href="<%= new_slide_path %>"><i class="fa fa-pencil"></i>&nbsp;<%= t 'upload' %>!!</a>
              <% end %>
              <a class="dropdown-item" href="<%= users_path %>"><i class="fa fa-list-alt"></i>&nbsp;<%= t :my_slides %></a>
              <a class="dropdown-item" href="<%= statistics_path %>"><i class="fa fa-signal"></i>&nbsp;<%= t :my_statistics %></a>
              <a class="dropdown-item" href="<%= edit_user_registration_path %>"><i class="fa fa-user"></i>&nbsp;<%= t :my_account %></a>
              <% if current_user.admin %>
              <!-- admin -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= admin_dashboard_path %>"><i class="fa fa-wrench"></i></span>&nbsp;<%= t :admin_dashboard %></a>
              <!-- // admin -->
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to t(:logout), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>

            </div>
            </li>
          </ul>
          <% else %>
          <% if ApplicationSetting['site.display_login_link'] == "1" %>
          <ul class="nav navbar-nav navbar-right">
            <% if ApplicationSetting['site.signup_enabled'] == "1" %>
            <li class="nav-item"><%= link_to t("signup"), new_user_registration_path, class: 'nav-link' %></li>
            <% end %>
            <li class="nav-item"><%= link_to t("signin"), new_user_session_path, class: 'nav-link' %></li>
          </ul>
          <% end %>
          <% end %>
        </div>
      </div>
    </nav>

    <a name="page_top"></a>
    <div class="container" id="main_container" role="main">
      <%= raw ApplicationSetting['custom_content.center_top'] %>
      <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

      <%= yield %>
      <%= raw ApplicationSetting['custom_content.center_bottom'] %>
      <br clear="all" />
    </div> <!-- /container -->

    <footer class="page-footer fixed-bottom custom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="text-muted text-left"><%= raw ApplicationSetting['site.footer'] %></p>
          </div>
          <div class="col-md-6">
            <p class="text-muted text-right">Powered by <%= link_to "SlideHub", "https://github.com/ryuzee/SlideHub", target: "_blank", rel: "noopener noreferrer" %> <%= SlideHub::VERSION %></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
