<h3><%= t :admin_dashboard %></h3>

<!-- Info boxes -->
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-file-image-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text"># of Slides</span>
        <span class="info-box-number"><%= @slide_count %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>
      <div class="info-box-content">
        <span class="info-box-text"># of Users</span>
        <span class="info-box-number"><%= @user_count %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-eye"></i></span>
      <div class="info-box-content">
          <span class="info-box-text"># of Page View</span>
          <span class="info-box-number"><%= @page_view %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-download-outline"></i></span>
      <div class="info-box-content">
          <span class="info-box-text"># of Download</span>
          <span class="info-box-number"><%= @download_count %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="panel panel-default">
    <!-- Table -->
    <table class="table table-striped table-bordered small">
        <thead>
            <tr>
                <th class="col-md-1"><%= t(:number_of_conversion_failed) %></th>
                <th class="col-md-1"><%= t(:number_of_comments) %></th>
                <th class="col-md-1"><%= t 'activerecord.attributes.slide.embedded_view' %></th>
        </thead>
        <tbody>
            <tr>
                <td><%= @conversion_failed_count %>&nbsp;</td>
                <td><%= @comment_count %>&nbsp;</td>
                <td><%= @embedded_view %>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- TABLE: LATEST ORDERS -->
<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-24">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"><%= t(:latest_published_slides) %></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= t('activerecord.attributes.slide.name') %></th>
                <th><%= t(:slide_author) %></th>
                <th><%= t('activerecord.attributes.slide.created_at') %></th>
              </tr>
            </thead>
            <tbody>
            <% @latest_slides.each do |slide| %>
              <tr>
                <td><a href="/slides/<%= slide.id %>"><%= slide.id %></a></td>
                <td><%= slide.name %></td>
                <td><%= slide.user.display_name %></td>
                <td><%= slide.created_at %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="/managements/slide_list" class="btn btn-sm btn-default btn-flat pull-right"><%= t(:view_all_slides) %></a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->
  <div class="col-md-6 col-sm-12 col-xs-24">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"><%= t(:popular_slides) %></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= t('activerecord.attributes.slide.name') %></th>
                <th><%= t(:slide_author) %></th>
                <th><%= t('activerecord.attributes.slide.created_at') %></th>
              </tr>
            </thead>
            <tbody>
            <% @popular_slides.each do |slide| %>
              <tr>
                <td><a href="/slides/<%= slide.id %>"><%= slide.id %></a></td>
                <td><%= slide.name %></td>
                <td><%= slide.user.display_name %></td>
                <td><%= slide.created_at %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="/managements/slide_list" class="btn btn-sm btn-default btn-flat pull-right"><%= t(:view_all_slides) %></a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div>
